[2019-04-01 06:29] zacwolfe opened #7 "Panel should have slide-down configuration param"
Great work on this great widget! However, I'd love to have the option to drag the panel from the top to the bottom as well.  I'll submit a PR to address this issue now.

[2019-04-01 19:14] akshathjain commented on #7
This is definitely an interesting idea! I've taken a look at your PR (#8) and everything seems to work well—great job!

I've gone ahead and accepted your PR. I'm probably going to make a few changes, but hopefully this feature will be available in the next release (or one shortly afterwards).

[2019-04-01 19:14] #7 closed

[2019-04-01 19:28] akshathjain opened #9 "PanelController should be able to get/set the panel position"
The PanelController should be able to get/set the animation value (ranging from 0.0 to 1.0). For example:
[code]

[2019-04-01 19:31] akshathjain opened #10 "PanelController should have a listener for when the panel slides"
The PanelController should have a listener that subscribes to the animation controller and is called every time the animation changes (i.e. the panel slides open/closed). This can be useful for adding custom animations that are based on the panel position. For example:
[code]

[2019-04-01 20:00] akshathjain opened #11 "Add a parallax effect as the panel opens"
Add an option that allows the user to configure whether or not there's a parallax effect as the `panel` is opened. Essentially, this means that as the `panel` opens, the `body` slides up as well.

The parallax effect should be configurable with a parameter (such as `parallaxOffset`) that takes in a `double` ranging from 0.0 to 1.0 where 0.0 indicates no parallax and 1.0 indicates that the `body` s

[2019-04-01 21:47] aytunch commented on #10
First of all thanks for this cool Library. I hope it gets better. It looks good.

About this issue: Not only the position but we also definitely need delegate functions like onPanelOpen, onPanelClose, onPanelShow, onPanelHide.

And we need properties like _panelController.isHidden, isShown, isCollapsable etc along with the position property. It is not cool to check if (position==_panelController.m

[2019-04-01 22:11] aytunch opened #12 "3 levels of height"
In addition to maxHeight and minHeight, there should be a defaultHeight. When the panel opens up, it should open in defaultHeight. And if maxHeight is bigger than defaultHeight and the user pulls the panel towards top, it should snap to maxHeight. This can be taken even further to make the panel full screen if pulled all the way. What do you think of this feature? It gives the end user much more f

[2019-04-01 22:14] aytunch opened #13 "panel does not dismiss when backdropEnabled: true"
When the user presses anywhere except the panel, the panel should hide. But right now nothing happens.

Also, the backdrop overlay only covers the body of the Scaffold. BottomNavigationBar and AppBar are not greyed out.

[2019-04-01 22:18] aytunch opened #14 "panelController.hide() causes crash"
Debugger says

When the panel is already hidden and hide() is called on it.

[2019-04-01 22:20] akshathjain commented on #14
@aytunch Can you attach the code you ran so I can try to reproduce this?

[2019-04-01 22:23] akshathjain commented on #13
@aytunch Can you split this into 2 issues? That is, can you create a new issue for the the second part: "the backdrop overlay only covers the body of the Scaffold. BottomNavigationBar and AppBar are not greyed out"?

[2019-04-01 22:26] aytunch commented on #14
I attached your library to a bloc so it will be hard for me to make it in to a snippet. If you can't easily reproduce it i will make a clean project.

Can you try calling _panelController?.hide() as your first interaction; on a panel with minHeight=0.0, collapsed:null, renderPanelSheet: false, panelSnapping: true, backdropEnabled: true.

[2019-04-01 22:29] aytunch opened #15 "Backdrop overlay only covers the body of the Scaffold"
BottomNavigationBar and AppBar are not greyed out and can be interacted with.

[2019-04-01 22:29] akshathjain commented on #12
@aytunch This is a really good idea! I think if I understand this correctly, you mean to say that there should be another position that the panel can snap to in between the minHeight and the maxHeight?

Also, what if this was expanded further so there could be a list of positions in between minHeight and maxHeight that the panel snaps to?

[2019-04-01 22:29] aytunch commented on #13
Ok The new issue is created

[2019-04-01 22:34] aytunch commented on #12
@akshathjain Yes thats exactly what I mean. What you suggested is even better. The user can supply an array of snap positions for instance

[2019-04-01 22:35] aytunch commented on #12
We would need another callback in this case. Something like onPanelSnap(int snapIndex)

[2019-04-01 22:41] akshathjain commented on #15
The `SlidingUpPanel` only displays a backdrop and disables interactivity over the Widget assigned to the `body` when `backdropEnabled` is `true` and the `panel` is open. If you want the `backdrop` to display over the `AppBar` and the `BottomNavigationBar`, then those components must be nested inside the `body` of the `SlidingUpPanel`. For example, in the documentation:

[code]

This greys out and

[2019-04-01 22:55] aytunch commented on #15
@akshathjain  Thanks for the info:)

[2019-04-01 22:55] #15 closed

[2019-04-01 22:57] aytunch commented on #7
@zacwolfe  Great idea👍👍

[2019-04-01 23:03] akshathjain commented on #13
I'll add this as a feature in the next release under the property `backdropTapDismissesPanel` or something like that. It'll be set to `true` by default and can be changed to allow for the maximum amount of flexibility.

[2019-04-01 23:05] akshathjain commented on #14
@aytunch Quick question, are you calling `_panelController?.hide()` in your `initState` before the `SlidingUpPanel` is initialized in the `build` method?

[2019-04-01 23:05] aytunch opened #16 "minSnapDistance for hide"
Right now the y position user needs to bring the panel down for it to disappear is fixed(or maybe a fraction of the maxHeight). Developer should be able to set this according to his/her own needs imho.

[2019-04-01 23:08] akshathjain commented on #16
@aytunch You're right, this should definitely be customizable. Currently, the minimum distance to trigger a snap open/closed is 50% of the (maxHeight - minHeight).

[2019-04-01 23:11] aytunch commented on #14
@akshathjain definitely not doing that. I am calling hide() inside builder method of the StatefulWidget class

[2019-04-01 23:13] aytunch commented on #13
@akshathjain sounds great

[2019-04-01 23:13] akshathjain commented on #14
@aytunch Ok, I'm having trouble reproducing this. Can you attach the code that causes this bug?

[2019-04-01 23:23] aytunch commented on #14
@akshathjain Ok i will do that. I checked if the _panelController is null or not and it is not null when hide is being called by the way.

[2019-04-01 23:49] zacwolfe commented on #7
Great, glad I could help!

[2019-04-01 23:51] akshathjain commented on #14
Ok I seemed to have reproduced a similar bug with `show` as well. I think that these two are related somehow.

[2019-04-02 00:08] akshathjain commented on #14
I fixed the issue with `show`, but I'm still not sure what's causing the `hide` bug.

[2019-04-02 01:16] siddzankat opened #17 "Infinite height?"
First of all, it's great implementation. I have been looking for a widget like this for a while and I had implemented it from scratch but it was no where as smooth as your implementation. I have been playing around with different properties but i am not able to implement it with infinite height or with height that's larger than screen size. I am trying implement it with floating effect, so how wou

[2019-04-02 06:11] akshathjain commented on #10
@aytunch Not sure about the necessity for onPanelShow, onPanelHide since show and hide are called directly by the user, but I can definitely see onPanelOpened and onPanelClosed being useful. As well as panelController.isHidden, isShown, etc.

[2019-04-02 06:19] akshathjain commented on #17
Thanks!

Are you trying to implement the `SlidingUpPanel` with a ListView (or something similar) nested inside? I'm not sure I completely understand how you're trying to implement this. For example, if you have a large list inside of the `panel`, you could set `maxHeight` to be `MediaQuery.of(context).size.height` so that way when open, the panel takes up the entire screen (and gives the effect th

[2019-04-02 08:14] MaskyS commented on #17
@akshathjain Awesome package! I was searching for something similar earlier, tried https://github.com/ricnaaru/scrollable_bottom_sheet but eventually switched to another UI flow.

Consider helping others find this project by adding the bottom sheet keyword somewhere since that's what Google calls it. https://material.io/design/components/sheets-bottom.html#usage

[2019-04-02 15:45] MasiaVittorio opened #19 "The Collapsed Widget is still interactive yet invisible when the panel is open."
If your collapsed widget has any type of gesture detector you won't be able to interact with the top part of the panel. It should be just wrapped inside a conditional IgnorePointer.

[2019-04-02 15:59] MasiaVittorio opened #20 "A callback is needed for onOpen and onClose in order to make other parts of the app reactive."
If you want a particular section of the body, or your FloatingActionButton to be reactive to whether the panel is closed or not, you need either to have some stream or listener from the panelController to retrieve the panel state, or at least a basic onOpen / onClose callback to work with.

[2019-04-02 16:03] akshathjain commented on #19
@MasiaVittorio Can you post the code you ran that reproduces this issue?

[2019-04-02 16:05] akshathjain commented on #20
Good point! This is currently in works and will be out in the next release. I'm going to close this issue since this same functionality is referenced in #10.

[2019-04-02 16:06] #20 closed

[2019-04-02 16:16] MasiaVittorio commented on #19
I checked again and it doesn't depend on what you have on the collapsed widget. It will always cover the top part of the panel making it impossible to interact with:

In this example tapping on the collapsed widget opens the panel (it works), but tapping on the top part of the panel won't do anything since the collapsed widget covers that part.

`        return SlidingUpPanel(
          body: Cont

[2019-04-02 16:18] MasiaVittorio commented on #19
This can be easily fixed by wrapping the collapsed widget under a IgnorePointer with an ignoring parameter that is true only when the panel is fully open

[2019-04-02 17:37] akshathjain commented on #17
@MaskyS Good idea! I'll update the docs to include "bottom sheet" or make a reference to Google's terminology.

[2019-04-02 18:24] MasiaVittorio opened #21 "It would be cool to define a default state of the panel and having the navigator of context getting back to that state when popping it."
Like when you hit the android back button and the navigator automatically closes a ModalBottomSheeet. It would be cool to close (or open?) the panel automatically when the user press the system back button.

[2019-04-02 19:09] #9 closed

[2019-04-02 19:10] #10 closed

[2019-04-02 19:34] #13 closed

[2019-04-02 19:55] akshathjain commented on #19
Good catch! I've fixed the issue and it'll be incorporated into the next release. https://github.com/akshathjain/sliding_up_panel/commit/1aedf2ce2f97431825612278cd3680ab3c9d60d2

[2019-04-02 19:55] #19 closed

[2019-04-02 21:17] siddzankat commented on #17
I am trying to implement something like this: https://gfycat.com/pastelgenerousgoosefish.
Another example is Google Maps Android App. I think you understand it correctly. I want to be able to drag content from bottom to top and keep scrolling if I have more and more content.
I tried implementing Listview nested inside the way you suggested but seems like when gesture detecter detects my touch, it

[2019-04-02 21:18] akshathjain commented on #11
Implemented!

[2019-04-02 21:18] #11 closed

[2019-04-02 21:27] akshathjain commented on #14
@aytunch Any progress on reproducing the bug in a clean project?

[2019-04-02 22:16] akshathjain commented on #17
@siddzankat Ok, I think I might have an idea on how to implement this using custom ScrollBehaviors. I'll look into more over the next few days and comment again if I find a better solution. I also update the docs with it so anyone who's looking for the same feature in the future can easily find it.

[2019-04-02 22:49] MasiaVittorio opened #24 "The backdrop dismiss on tap should be called onTapDown instead of onTap, to be more consistent with other bottom sheet designs."
Or also leaving the choice to use a full tap or just a tapDown could be dope.

[2019-04-03 01:17] akshathjain commented on #24
@MasiaVittorio I agree that more features are nice; however, there's a definite trade-off between simplicity / ease-of-use and customization. In order to keep the library simple for first time developers or those who are unfamiliar with Flutter, I don't think implementing these particular features are necessary, especially as the end result of onTap(), onTapDown(), and onTapUp() are, for all pract

[2019-04-03 01:18] #24 closed

[2019-04-03 03:54] siddzankat commented on #17
Awesome. Thanks in advance, Akshath!

[2019-04-11 03:56] akshathjain commented on #14
Closing this issue due to inactivity.

[2019-04-11 03:56] #14 closed

[2019-04-13 02:51] akshathjain commented on #17
@siddzankat I think I found a solution! Here's what my `main.dart` looks like. Full disclosure: there's currently a bug that if you swipe up on the panel, then immediately swipe down, the panel doesn't close. Instead, you need to scroll a little, and then swipe down again (when you're at the top of the Scrollable portion) to close the panel. I'm currently working on a fix, but here's something to

[2019-04-13 03:05] siddzankat commented on #17
This is awesome. Thanks @akshathjain

[2019-05-03 12:03] Nazacheres opened #27 "In release mode weird first few frames flicker on iOS (more obvious on old devices)"
As in other similar libraries, this one has that issue, that the size is defined by `MediaQuery.of(context).size.width` and on the very beggining the issue that may happen is that there is no width defined, or it's wrong. And the process of calculating this value differs in release and debug modes. Issue also reproducable with the example provided. It is obvious on iPhone 5s and pretty noticable o

[2019-05-14 08:31] MadReal opened #28 "Full Height with Scaffold, no safe area"
Hello, I'm trying to extend the Panel to "full height" when it is open
[code]
Although there are a couple of problems:

First is this error:

[code]

The second issue is that there is no "safe area". I'm actually trying to emulate a "view" when the panel is open, with AppBar and Body but I can't achieve that because the content is pushed to the very edges

[2019-05-15 14:48] akshathjain commented on #27
@Nazacheres I unfortunately don't have any of the phones you mentioned to test this on (besides the emulators, which can't run release mode), so I'm unable to reproduce the issue. This seems more like a Flutter issue than anything else. I would recommend opening this issue in the Flutter repo so it gets more attention.

[2019-05-16 10:17] MadReal commented on #28
Here it is

[code]

[2019-05-18 12:11] MahdiPishguy opened #29 "set max height of preview"
is any solution about setting max height of preview panel? i mean when i run application of show scrren i want to have custom height of panel

[2019-05-18 12:28] MahdiPishguy opened #30 "different layout on directions"
when i change `slideDirection` to `SlideDirection.DOWN` or `SlideDirection.DOWN` i have different layout on screen

http://s6.uplod.ir/i/00953/sz9fo2k942ih.png

http://s6.uplod.ir/i/00953/cf5v1l6xalbp.png

[2019-05-18 14:01] MahdiPishguy opened #31 "close panel when i press on back"
how can i close panel when i press on back button on phone?

this code don't work

[code]

[2019-05-19 02:06] akshathjain commented on #29
@MahdiPishguy You can use the 'minHeight' and 'maxHeight' properties as described in the documentation.

[2019-05-19 08:42] #29 closed

[2019-05-19 17:07] akshathjain commented on #31
`_pc.hide()` should be replaced with `_pc.close()`.

Here is a sample `main.dart`:

[code]

[2019-05-19 23:19] #31 closed

[2019-05-19 23:19] #27 closed

[2019-05-20 06:06] huzhiren opened #32 "How to programmingly open and close SlidingUpPanel"
`SlidingUpPanel` is awesome.   But I don't know how to programmingly open and close `SlidingUpPanel`. Any idea?

[2019-05-20 07:07] huzhiren commented on #32
Oh, I found it,  by providing a controller, then call open and close.  But isPanelOpen() will throw error in build() function:

NoSuchMethodError: The method 'call' was called on null.
Receiver: null
Tried calling: call()
#0      Object.noSuchMethod (dart:core/runtime/libobject_patch.dart:50:5)
#1      PanelController.isPanelOpen (package:sliding_up_panel/src/panel.dart:539:12)

[2019-05-20 08:22] MadReal commented on #28
@akshathjain any update? Do you see the error too?

[2019-05-20 18:04] akshathjain commented on #32
@huzhiren This is intended. The `PanelController` is an object that returns information about the state / modifies the state of the `SlidingUpPanel`. As a result, if you try to call `PanelController` methods before its attached to a `SlidingUpPanel` (like in the build method when the `SlidingUpPanel` is being built), you will get an error, as the panel doesn't exist yet (i.e. the first iteration o

[2019-05-20 18:05] akshathjain commented on #28
@MadReal I've been able to reproduce the issue. I'm currently looking into what is causing it.

[2019-05-21 01:43] huzhiren commented on #32
Yes, that's fine. I end up with a boolean in status to track if the `SlidingUpPanel` is open or not.
I think it would be best if the `initial height` or constraint with min/max height (there is another issue saying `default height`) can adapt to the content of the panel. Currently you have to specify min/max height, otherwise, there is a default 100/500 there.

[2019-06-01 09:59] Damix48 opened #33 "Close panel when keyboard is open"
It would be useful to add the option for close automatically the panel when the keyboard is open.
As show in the screenshot the panel is above the keyboard. When the panel is fully opened and a TextField is focused the panel obscure all the view.

not-fully opened
![screenshot](https://user-images.githubusercontent.com/23702345/58746912-41614300-8464-11e9-808f-c99b78626e1a.jpeg)

fully opened
![sc

[2019-06-04 22:02] #32 closed

[2019-06-05 16:11] akshathjain commented on #33
@Damix48 This is a very specific feature and can vary from use-case to use-case, so it probably won't be added directly into the library. However, you can still close the panel when the keyboard is open by attaching a `PanelController _pc` to your `SlidingUpPanel` and calling `_pc.close()` when the keyboard is opened.

[2019-06-11 18:49] #33 closed

[2019-06-14 17:53] vmihalachi commented on #17
Hi @akshathjain any news on this? :)

[2019-06-19 14:51] gibranramadhan opened #34 "Adding Opacity"
What about adding features to adjust opacity? I think that will help people who want to use gradient background

[2019-06-19 19:47] akshathjain commented on #34
You should be able to adjust the color property. E.g.:
[code]
Would be a completely transparent panel.

[2019-06-20 08:20] gibranramadhan commented on #34
it still gives a shadow effect (or elevation I guess)

[2019-06-20 12:42] fadhlisulaimi opened #35 "Sliding up panel moves up when keyboard appears"
I have a textfield inside the panel, upon focusing on it the keyboard appears and the whole sliding panel gets pushed up. How do I make it stay at current position, or perhaps only move up a bit.

![Screenshot 2019-06-20 at 8 41 21 PM](https://user-images.githubusercontent.com/12539080/59850056-dc7e7600-939b-11e9-9868-058058f7c05f.png)

![Screenshot 2019-06-20 at 8 41 45 PM](https://user-images.gi

[2019-06-20 12:59] fadhlisulaimi commented on #35
Just solved it after posting this.

I fixed it by setting `resizeToAvoidBottomInset: false` in Scaffold(). This will prevent the panel from jumping up.

[2019-06-20 12:59] #35 closed

[2019-06-20 18:26] akshathjain commented on #34
Try using the `boxShadows` property to change how those appear.

[2019-06-21 10:03] RicardoRB commented on #17
Hi @akshathjain I can try to implemented it but why this is a bug?

[2019-06-25 16:51] #34 closed

[2019-06-26 18:02] ofekashery opened #36 "Allow to add listeners to a PanelController"
For the ``onPanelSlide`` , ``onPanelClosed`` and ``onPanelOpened``.

For example:
[code]

[2019-07-06 05:07] mausamRayamajhi commented on #36
I was also looking for this "Listener" method when panel PanelPosition changed.
But, I only found getPanelPosition(),
hope, it will be added

[2019-07-06 19:10] neo-xy opened #37 "tutorial"
Some tutorial or artical on medium on this would be amazing!:)

[2019-07-07 08:17] mausamRayamajhi opened #38 "How to Scroll along with List inside pannel"
I want similar behavor like samsung app store .. it scroll pannel with list. How can we do that?

Video link is provided =>
https://www.facebook.com/carloseugeniotorres/videos/2239865416068500/

[2019-07-07 10:09] mausamRayamajhi commented on #17
I think, I have solve this scroll issue with listView inside panel. Code is attached
![1](https://user-images.githubusercontent.com/28975010/60766881-7e59ce80-a0cf-11e9-8096-9274fd0b6af4.png)
![2](https://user-images.githubusercontent.com/28975010/60766885-87e33680-a0cf-11e9-8cbb-86a5e2148058.png)
![3](https://user-images.githubusercontent.com/28975010/60766888-8c0f5400-a0cf-11e9-95a2-80abf5882dda

[2019-07-07 10:11] mausamRayamajhi commented on #38
I think this is the solution...may be not best. but it works

![1](https://user-images.githubusercontent.com/28975010/60766903-ba8d2f00-a0cf-11e9-8664-02c4ad962f6d.png)
![2](https://user-images.githubusercontent.com/28975010/60766904-bb25c580-a0cf-11e9-8135-c014b7465a3a.png)
![3](https://user-images.githubusercontent.com/28975010/60766905-bb25c580-a0cf-11e9-97bf-084bd9cd051c.png)

[2019-07-07 10:11] #38 closed

[2019-07-11 19:20] Fabi755 commented on #38
Have a look at [DraggableScrollableSheet](https://api.flutter.dev/flutter/widgets/DraggableScrollableSheet-class.html). This is much easier without a work arround :-)

[2019-07-14 23:48] EDnny12 opened #39 "Perfomance is not 60 fps"
Can you update for better perfomance?

Thanks

[2019-07-15 04:21] akshathjain commented on #39
@EDnny12 Can you provide some details to what phone / OS / OS version you were using when you tested this?

[2019-07-15 16:53] EDnny12 commented on #39
With Android 9.0

[2019-07-17 00:16] hectorAguero opened #40 "Example with Provider for PanelController State Management"
So, currently i'm use this plugin and I need to manage the controller from other class, so I'm sharing this public example for anyone who wants to use  https://github.com/hectorAguero/slidingpanelexample

Currently I'm works with some similar in a app, but after call a PageRoute(LoginPage to HomePage), I have problems with the controller inside the model class , I don't put that code in the exampl

[2019-07-18 17:52] Nolence opened #41 "[Feature Request] AnimatedContainer in place of Container?"
Hi! Really love the package! What are your thoughts on making the [container here](https://github.com/akshathjain/sliding_up_panel/blob/3c38a55f0a070738c88b18349d4b3c54aa5b23b6/lib/src/panel.dart#L240) an AnimatedContainer?

I have the use case where my panel can hava data in it or be empty (it's holding a sport player's information). The user can click on a player in main UI list to fetch the dat

[2019-07-18 20:10] akshathjain commented on #40
Nice, I like it!

[2019-07-18 20:12] akshathjain commented on #41
This is an interesting idea - I'll play around with it and see how it impacts performance (if any). In the meantime, the `PanelController` can be used to achieve a similar effect.

[2019-07-18 20:22] Nolence commented on #41
Cool, completely overlooked using the controller. I'll look into that when  get the time. Thanks!

[2019-07-19 12:35] pdmshrestha opened #42 "Accessibility support (Talkback)"
Hi,
Thanks for great package. Has anyone notice that Talkback behaves weird with sliding panel. The body widget is hard to focus. I have a listview widget in the sliding panel body. When I focus on the listview, it doesn't get focused, however if I swipe right it goes through the list.

[2019-07-20 15:48] jld3103 opened #43 "Scrollable content as body"
How can I add something scrollable like a ListView as the body?
Currently the closed panel hides the content and disables scrolling on the content.
Also a padding beneath the closed panel needs to be added for that.
Is such thing possible yet?

[2019-07-31 02:57] CtrlAltDft opened #45 "Set panel dynamically with controller"
Hi, is it possible to have the controller being able to set the panel content? As i want to avoid using setState()

[2019-08-01 15:56] aedaia opened #46 "Borders will not round properly"
Hi,

I am unable to get the borders to round correctly on my application. Instead, it creates a colour that matches my background colour to fill the corners with.

[2019-08-01 16:14] akshathjain commented on #45
This is currently not possible and probably won't be implemented due to a high number of edge cases (e.g. users setting the panel body using a panel controller before attaching the controller to the sliding up panel).

Also, calling setState() will have negligible performance impacts to your app (if that's why you're trying to avoid using it)

I may reconsider this functionality in the future (I c

[2019-08-01 16:15] akshathjain commented on #46
Hi, could you attach your `main.dart` and a screenshot of the issue you're seeing?

[2019-08-01 16:18] akshathjain commented on #43
Duplicate of #17

[2019-08-01 16:32] aedaia commented on #46
Hi!

This is our code:

We are also having issues hiding the bottom navbar when we swipe up on the panel - is there a way to hide this?

Kind regards,
Eden.

[2019-08-01 16:36] akshathjain commented on #46
I don't think your code uploaded properly, can you try copy/pasting it into the response?

[2019-08-01 16:36] aedaia commented on #46
Of course,

import 'package:flutter/material.dart';
import 'bottomTabBar.dart';
import 'package:sliding_up_panel/sliding_up_panel.dart';
import 'camera.dart';
import 'package:camera/camera.dart';

class RewardPlaceHolder extends StatelessWidget {
  final String imagePath;

  RewardPlaceHolder({
    this.imagePath,
  });

  @override
  Widget build(BuildContext context) {
    return Container(

[2019-08-01 18:31] hectorAguero commented on #46
In my example, I need to put the widget wrapped with ThemeData and pass a Colors.transparent in canvascolor to fix this, but if I need to use any color I need to pass the color this

https://github.com/hectorAguero/slidingpanelexample/blob/master/lib/page_two_home.dart

[code]

[2019-08-02 15:22] jld3103 commented on #43
@akshathjain It's not the same issue. I ended up using a simple Stack.

[2019-08-02 16:37] akshathjain commented on #43
My bad, I misinterpreted your question.

[2019-08-02 20:56] jld3103 commented on #43
Maybe my implementation could be merged in the package? It's very simple

[2019-08-07 09:55] neelts opened #47 "SnackBar not showing up with backdropEnabled"
If you wrap Scaffold with SlidingUpPanel, showSnackBar on that Scaffold not working
https://github.com/akshathjain/sliding_up_panel#darkening-the-body-as-the-panel-opens

[2019-08-12 17:14] YaarPatandarAA opened #48 "Body is covered by collapsed slide up panel"
I am using a ListView as body and it is a list of items. However when the panel is collapsed the body is not above the panel. The last item in the ListView is covered by the collapsed panel. 

How can I shift it up so the ListView is above the collapsed panel, as to show the last item?

[2019-08-13 17:55] YaarPatandarAA commented on #48
Just Add Padding to the bottom of the ListView as much as the min size of the collapsed panel.

[2019-08-13 17:55] #48 closed

[2019-08-13 19:15] Bennet303 commented on #39
I had similar issues when testing in debug mode but the performance problem was eventually fixed when launching the app in release mode (flutter run --release)

[2019-08-14 15:16] yuankunluo opened #49 "Set default state to open?"
Hi, how can we set the default pannel to be opened;

I use this Widget as my Home page which i need to open this Pannel as default.

So how can we set it?

[2019-08-22 09:41] adar2378 opened #50 "Panels elements not showing properly"
This is the
`Dart
import 'package:flutter/material.dart';
import 'package:sliding_up_panel/sliding_up_panel.dart';

class BottomSheet extends StatefulWidget {
  @override
  _BottomSheetState createState() => _BottomSheetState();
}

class _BottomSheetState extends State<BottomSheet> {
  final double _initFabHeight = 120.0;
  double _fabHeight;
  double _panelHeightOpen = 575.0;
  double _panelHeigh

[2019-08-22 11:38] #50 closed

[2019-08-23 17:27] akshathjain commented on #49
@yuankunluo I can see this as being a pretty important feature. Will definitely add in the next release.

[2019-08-23 17:30] akshathjain commented on #39
@EDnny12 can you try testing on a physical device with `release` mode like @Bennet303 mentions? This might solve the issue. Let me know if the problem still persists.

[2019-08-23 17:30] akshathjain commented on #37
Agreed; I'll try to write one in the coming months.

[2019-08-23 17:30] #37 closed

[2019-08-27 15:00] mikecbone opened #51 "Body going off screen"
I'm running a Sliding Up Panel as the body of a scaffold, with its body consisting of a column surrounded by some padding, but the content (on smaller devices) goes off the screen. If I take the Sliding Up Panel out and have the column as the body of the scaffold it works just fine fitting to the constraints of the screen.

(I've made the collapsed panel very small, to view the content behind it)

[2019-08-29 08:21] dvlj commented on #39
performance is always bad in debug mode compare to release mode, try not to judge the result in debug mode.

[2019-08-29 10:03] dvlj opened #52 "Textfield is overlapped by keyboard (SlidingUpPanel -> panel -> CustomScrollView -> SliverStickyHeader -> TextField)"
Code as follow:

[code]

[code]

[code]

[2019-08-30 06:44] phillippbertram commented on #43
@jld3103 could you possibly provide your solution? 🙃

[2019-08-30 20:25] jld3103 commented on #43
This is the code I use:
[code]

[2019-08-31 19:08] akshathjain commented on #49
Added the `defaultPanelState` property in v0.3.5. Changes should be live in the next few minutes.

[2019-08-31 19:08] #49 closed

[2019-08-31 19:12] akshathjain commented on #51
@mikecbone Hey I just tried to reproduce this, but it looks like the code snippet that you provided was full of a lot of other custom components that I don't have access to. If you could provide a simplified `main.dart` that reproduces the issue, that would be great, thanks.

[2019-08-31 19:24] akshathjain commented on #47
The issue is that the `SnackBar` is hidden behind the `SlidingUpPanel`. If you try running the code below, you should get a `SnackBar` that appears in front of the panel. However, if you set `backdropEnabled` to `true`, the backdrop won't cover the `AppBar` since its not nested in the `SlidingUpPanel`; you'll have to play around with a widget tree that nests the `AppBar` in the `body` of the `Slid

[2019-08-31 19:24] #47 closed

[2019-08-31 19:25] akshathjain commented on #40
Closing this issue, but will be updating the documentation to include your project in a tutorials section.

[2019-08-31 19:25] #40 closed

[2019-08-31 19:26] #39 closed

[2019-08-31 19:28] akshathjain commented on #42
@pdmshrestha Could you provide a sample `main.dart` file that reproduces the issue, as well as steps to reproduce the issue with Talkback?

[2019-08-31 19:32] akshathjain commented on #36
@ofekashery Unfortunately, any listeners attached to the PanelController have to be attached after the PanelController is attached to a sliding up panel. As a result, the code you've provided would have to be nested after the SlidingUpPanel is already rendered in the build method. The cleanest solution would be to use the onPanelSlide property of the SlidingUpPanel.

[2019-08-31 19:32] #36 closed

[2019-09-01 01:40] NewITCorp opened #53 "Dark brightness mode in ThemeData vanishes all widgets"
Hi,
The current version has an issue with brightness mode.
steps to reproduce
1. add a dark brightness in your example

return MaterialApp(
      debugShowCheckedModeBanner: false,
      title: 'SlidingUpPanel Example',
      theme: ThemeData(primarySwatch: Colors.blue, **brightness: Brightness.dark**),
      home: HomePage(),
    );

  2. run and get the result like this
https://uppic.cc/d/5v25

[2019-09-03 16:20] akshathjain opened #54 "onPanelClosed being called when panel isn't closed by user"
Issue related to new property `DefaultPanelState`. Fix immediately.

[2019-09-04 23:03] Bernardi23 opened #55 "Close panel with scrollable content without need of an empty space."
It would be nice if we could close the panel that has scrollable content without needing the empty space. The idea is quite  simple: when you can't scroll up the content anymore, the panel should start to close (just like it is with Google Map). The execution though, is quite hard. I tried creating a package from ground up with this feature in mind, but I couldn't do it.

[2019-09-05 02:04] akshathjain commented on #55
This is one of the major feature requests that I’ve been working on for some time now. This issue is very closely related to #17 and in some sense, goes hand-in-hand with the feature in that thread. I can’t give a concrete time estimate on when this will be released, but it will most likely involve a major version change.

[2019-09-05 09:20] NewITCorp commented on #53
Hi, may I ask if you have chance to take a look at this?

[2019-09-07 03:31] johnmastri opened #56 "Set speed and curve of show/hide animation"
Would be great to make tweaks to these parameters. Thanks!

[2019-09-08 12:33] NotThatBowser commented on #56
This would be very useful.

[2019-09-09 02:23] akshathjain commented on #56
Good idea! I'll add it in a future version.

[2019-09-10 12:07] softmarshmallow opened #57 "a sliding up panel just like google maps app that have a middle state"
How to make Slide up Panel to have middle anchors?

[2019-09-10 12:22] softmarshmallow commented on #12
Is this feature on development?

[2019-09-14 16:51] sooxiaotong opened #58 "Click panel title to slide up itself without dragging?"

[2019-09-14 18:13] sooxiaotong opened #59 "Bug: setState is called during build"
![image](https://user-images.githubusercontent.com/13378059/64912176-263de900-d75e-11e9-999b-64694ed6d9ef.png)

[2019-09-15 17:33] akshathjain commented on #58
You can use the `PanelController` to pragmatically control the `SlidingUpPanel`.

 https://github.com/akshathjain/sliding_up_panel#using-the-panelcontroller

[2019-09-15 17:59] sooxiaotong commented on #58
Okie thanks

[2019-09-15 17:59] sooxiaotong commented on #58
Okie thanks

[2019-09-15 17:59] #58 closed

[2019-09-17 05:28] softmarshmallow opened #60 "collaborate with SingleChildScrollView"
when SingleChildScrollView added to child of panel, it will scroll to end, and then slide up.
i with slide up, and then, scroll.

[2019-09-17 11:48] masooddalman commented on #55
This can be easily done by a controller. I’ve done it before

[2019-09-17 15:13] akshathjain commented on #57
Hi,

This is a duplicate of #12, please refer to that issue instead.

[2019-09-17 15:13] #57 closed

[2019-09-17 15:15] akshathjain commented on #59
Can you add a sample main.dart that reproduces this issue?

[2019-09-17 15:23] akshathjain commented on #53
Looks like this was overlooked in the sample app. The container colors aren’t coded to change their colors when the dark theme is turned on.

[2019-09-17 15:23] #53 closed

[2019-09-17 15:24] #45 closed

[2019-09-17 15:25] #46 closed

[2019-09-17 15:26] akshathjain commented on #51
Going ahead and closing this issue do to lack of response.

[2019-09-17 15:26] #51 closed

[2019-09-17 15:26] akshathjain commented on #42
Going ahead and closing this issue due to lack of response.

[2019-09-17 15:26] #42 closed

[2019-09-19 16:14] NewITCorp commented on #53
what do you suggest to fix this?

[2019-09-22 15:02] sooxiaotong commented on #59
@akshathjain  sorry for late reply, so this is it.

[code]

[2019-09-22 15:22] sooxiaotong commented on #59
I think this is because you called setState in build immediately so it trigger the error. Here is the reference https://github.com/flutter/flutter/issues/28407

[2019-09-22 19:51] sooxiaotong commented on #38
this still buggy anyway...

[2019-09-22 20:43] akshathjain commented on #59
@sooxiaotong Thanks! This is currently a known issue that's related with the previous release. It should hopefully be fixed in the next week.

[2019-09-22 20:43] akshathjain commented on #59
Related to #54.

[2019-09-25 02:27] imchivaa opened #61 "MaxHeight to wrap content's height"
Hi there, I have a quick question if there's any wrap panel's content height? I want the panel's height to be dynamic to it's child. I tried to get the height of the panel's child widget then set it to the maxHeight so that when the panel opens, the maxheight will be adjusted but this doesn't work because the widget isn't available yet when the calculation performed.

The only way of doing this is

[2019-09-25 18:28] #54 closed

[2019-09-25 18:29] akshathjain commented on #59
Fixed issue in v0.3.6.

[2019-09-25 18:29] #59 closed

[2019-09-25 18:36] sooxiaotong commented on #59
Where is 0.3.6?

On Thu, Sep 26, 2019 at 2:29 AM Akshath Jain <notifications@github.com>
wrote:

[2019-09-25 18:37] akshathjain commented on #59
Just pushed the package to pub. It should be live soon.

[2019-09-25 18:39] sooxiaotong commented on #59
But I can’t find it in GitHub tho

On Thu, Sep 26, 2019 at 2:37 AM Akshath Jain <notifications@github.com>
wrote:

[2019-09-25 18:43] akshathjain commented on #59
Also added it to GitHub. https://github.com/akshathjain/sliding_up_panel/releases/tag/v0.3.6

[2019-09-25 18:58] sooxiaotong commented on #59
Okay cool!

On Thu, Sep 26, 2019 at 2:43 AM Akshath Jain <notifications@github.com>
wrote:

[2019-10-03 18:15] SwissCheese5 opened #63 "Add option to make collapsed panel persist"
The gifs on the pub.dev page are misleading; in google maps, the "Explore <place>" text stays on top and does not transition to close. I needed this behavior, so it would be a great addition.

https://raw.githubusercontent.com/akshathjain/sliding_up_panel/master/screenshots/example.gif

[2019-10-03 21:39] akshathjain commented on #63
Hi,

The gifs on pub.dev aren't of Google Maps, its the example implementation of SlidingUpPanel (the source code is in the example directory in this repo).

Could you also clarify what type of behavior you're looking for?

Thanks!

[2019-10-04 10:56] SwissCheese5 commented on #63
So, the gifs show the "Explore Pitssburg" text staying after opening the panel, ie: the collapsed panel STAYS on top of the body after opening instead of it fading out. This should be an option :)

[2019-10-09 14:54] luccafreitas opened #65 "Close/Open panel on tap instead of dragging?"
Thanks so much for this, very helpful!
Is there a way to open the panel on tap instead of dragging it? I have a scroll view inside it so dragging causes only the view inside to scroll and I can't open the panel itself.
I know I can open it with a button and call _pc.open(), but ideally I'd want to open on backdrop tap, so any area of the header will open it. And I tried to close it with backdropTa

[2019-10-10 15:46] Wassmd opened #66 "Closing panel when tapping anywhere over a body"
I did following. First time it is closing properly but second time it is throwing exception

[code]
Exception

[code]

[2019-10-10 16:08] Wassmd commented on #65
try this.

[code]

[2019-10-10 16:11] Wassmd commented on #65
When I am trying to close using _pc.close after first time. I am getting below error. Do you know how to solve it

[code]

[2019-10-10 19:27] #66 closed

[2019-10-11 00:22] #65 closed

[2019-10-11 10:19] adim86 opened #67 "When Using Panel and Material Drawer. Panel Shows above the drawer"
![Simulator Screen Shot - iPhone 11 Pro Max - 2019-10-11 at 11 17 57](https://user-images.githubusercontent.com/170634/66644462-e52fdc00-ec18-11e9-88f4-6cbbbf8874ef.png)

[2019-10-12 22:26] eric-taix-teads commented on #12
I'm currently implementing this feature for my own application. For now I have just copied / pasted `SlidingPanelState` and modified the code in my own project. I'll create a PR when finished.

In the meantime I just want to let you know that:
  [ ] to avoid breaking changes, I've kept `minHeight` and `maxHeight` fields as it
  [ ] I've added a new field `snapPositions` which aims to contain snap

[2019-10-17 19:02] frasza opened #68 "Implementation with Google maps"
Hey,

I am trying to implement sliding up panel using Google maps widgets and I am having troubles when I try to drag the panel to open it. It basically gets stuck at some middle point, so I have to 'retouch' and drag it again to open it fully.

<img width="300px" src="https://user-images.githubusercontent.com/22049682/67038970-bc2faf80-f120-11e9-8162-846d4d9eec70.png">
<img width="300px"  src="ht

[2019-10-22 03:44] mazei513 opened #69 "FadeTransition to handle opacity"
The [Flutter docs](https://api.flutter.dev/flutter/widgets/Opacity-class.html) raises concerns over animating using `Opacity`. When collapsed is used, the animation between collapsed to panel does exactly what the docs warns against. The current code for the collapsed panel is:

      // collapsed panel
      Positioned(
        top: widget.slideDirection == SlideDirection.UP ? 0.0 : null,

[2019-10-22 04:37] mazei513 commented on #69
Could change `Opacity` to

[code]

[2019-10-22 19:40] mariapapag95 commented on #68
I'm having the same issue with the odd spacing. I'm guessing it is a SafeArea issue. Are you using an emulator to test out the scrolling? And are you using panelSnapping : true? I have set panelSnapping to true, but on the emulator it behaves similarly to your issue. I hope that it's because gestures tend to be a bit buggy on emulators versus actual devices.

[2019-10-23 20:23] phillippbertram commented on #68
I have the same issue since I updated flutter from `v1.7.8+hotfix.4` to Version `1.9.8`. This issue really only occurs when [google_maps_flutter](https://pub.dev/packages/google_maps_flutter) is used as `body` and `parallaxEnabled` is set to `true`.
Disabling the parallax effect will fix the issue, but I really want to have the parallax effect 😅

[2019-10-24 01:04] mariapapag95 commented on #68
@phillippbertram I have tried removing the `parallaxEnabled ` but the issue persists

[2019-10-24 13:15] rydrdev commented on #17
[code]

Is there a fix for this from what you know? Thanks

[2019-10-29 21:13] mariapapag95 commented on #68
I have solved the problem of the weird space at the top when using GoogleMaps as the body.
You need to add the parameter `target` to GoogleMaps widget with a latitude and longitude that will center the map. I've made my longitude 0.0 for example. I'm sure if you set zoom of map higher it might fix that problem as well.

[2019-10-29 21:14] mariapapag95 commented on #68
@phillippbertram @frasza @phillippbertram

[2019-10-30 03:22] mano290 opened #70 "Add onTapDown on backdrop"
Hello guys,

Would it be possible to put the `onTapDown` event in the backdrop?
Using the same function already created? `_close()`
[code]

[2019-10-31 16:59] semsturgut commented on #17
I have the same problem, did you fix it?

[2019-11-04 08:29] SwissCheese5 commented on #63
Ok so this is possible, you're right. But I would add in the docs that it's possible to not specify a collapsed panel

[2019-11-04 08:29] #63 closed

[2019-11-09 11:11] jahnli opened #71 "Is it possible to support custom protruding header? The current requirement is that I need to set a tabbar expansion in the header to be a listview"
I think this is a very good library    ,
Is it possible to support custom protruding header? The current requirement is that I need to set a tabbar expansion in the header to be a listview

![image](https://user-images.githubusercontent.com/20943608/68527688-b5ade580-0324-11ea-98fb-192125fd5cb9.png)

[2019-11-09 12:31] jahnli commented on #71
![image](https://user-images.githubusercontent.com/20943608/68528594-d16ab900-032f-11ea-800a-4fd697cae219.png)

我目前能想到的方案是 stack里放置一个tabbar 和一个tabbarview 不知道是否有更好的方案

[2019-11-13 03:53] DangKhoi1811 commented on #12
@eric-taix-teads are you still there ? Did you create a PR about this enhancement ?

[2019-11-19 06:04] fremfi commented on #17
same here. anyone found a fix?

[2019-11-20 04:15] semsturgut commented on #17
I can suggest [DraggableScrollableSheet](https://api.flutter.dev/flutter/widgets/DraggableScrollableSheet-class.html) class. Which is developed by flutter team. You can do the same animations with it.

[2019-11-22 15:48] fremfi commented on #17
i tried it out, but the only thing is that they don't provide the controller to programatically change the extent, am sure they would in a future update maybe

[2019-11-24 16:30] fredells opened #72 "Body jumps after closing panel on iOS (with bottom unsafe space)"
Issue:
Body widget jumps on iOS (notched) after closing the panel with parallax enabled.

I set breaks to verify that the only thing updating is the sliding_up_panel.

Repro steps:
Create a sliding_up_panel with a google_map as the body. Run on iphone 11 pro max simulator. Open and then close the panel. After closing the panel the map will jump.

<img width="250" src="https://user-images.githubuse

[2019-11-24 17:28] fredells commented on #72
@akshathjain
Got the fix for you:
<img width="1102" alt="Screen Shot 2019-11-24 at 12 25 54 PM" src="https://user-images.githubusercontent.com/16091920/69498410-de51e580-0eb5-11ea-8537-d3fc3eba7170.png">

Tried to create PR but access denied

[2019-11-25 10:47] Pebsie commented on #14
Also having this problem. A potential fix might be to include the ability to set the state to hidden in PANELSTATE.

[2019-11-25 21:08] akshathjain commented on #72
@fredells Looks good. You should be able to fork the repo and create a PR from your own fork. I'll test the fix and if this doesn't break anything else, I'll merge into master.

[2019-11-25 21:11] akshathjain commented on #17
This issue is still being worked on. My best timeline for a fix is most likely going to be late-December or early January.

[2019-11-27 17:46] lihaotian0607 opened #73 "Animation can be performed when the height is modified?"
Animation can be performed when the height is modified?

[2019-11-29 20:45] enricobenedos commented on #45
Hi @akshathjain, first of all thank you for this awesome package.
At the moment I need exactly to set panel dynamically. I already understand that at the moment you won't add this feature. But have you got any suggestion about how to implement this feature manually?
In my case I have a ListView with a lot of cards. When the user tap on a card I will show the SlidingUpPanel and in this moment I nee

[2019-12-04 20:07] xyzbilal opened #74 "Panel disappears when keybord on screen?"
How to make panel is open even keyboard on screen? thanks..

[2019-12-05 01:28] cad0p opened #75 "bad issue, Unimplemented handling of missing static target"
the relevant component is the opacity of the container of panel.dart

line 286

[2019-12-05 02:07] cad0p commented on #75
sorry, after some testing I found out that I had my app working only on android, because I renamed the Runner app into my app name (and you shouldn't do that apparently)

[2019-12-05 02:07] #75 closed

[2019-12-05 07:18] xyzbilal commented on #74
adding `resizeToAvoidBottomInset:  false, `   to scaffold solved my problem.

[2019-12-06 09:31] furkansarihan opened #76 "Panel sometimes disposed and disappeared"
I can not trace what cause the problem but panel sometimes disposed and diseppeared and doesn't come back.

I use a StatefulWidget as panel

[2019-12-06 15:00] bullet-tooth commented on #66
@Wassmd have you solve this issue? If yes please provide a working solution. It would be very helpful for newbies like me :)
  Thanks!

[2019-12-07 09:04] bullet-tooth opened #77 "How to implement Dismissible panel?"
Hey,
Basically I would like to implement a map with the pannel having the following logic:
- Initial state on the panel is hidden
- When the user taps on an object on the map the panel appears in the collapsed(closed) state
- User can close(hide) the pannel by swiping horizontally; or down(if the panel was in the closed state)

I have stuck with implementing described swiping, so I tried:
1. Put `

[2019-12-08 12:52] GOTFire opened #79 "DropDownButton not working?"
I just added dropdownbutton to panel for let the user select number but its not update dropdownbutton value to selected value.I tried setstate but its not work.I can see selected value with print command but dropdownbutton value not updated.

`DropdownButton(
                          value: valueDropdownSlct ,
                          items: [
                            DropdownMenuItem(

[2019-12-08 15:20] haddad-yacine opened #80 "Make panel content Fade"
Can we make the panel content fade when scrolling?

[2019-12-08 15:26] wemersonrv opened #81 "When set direction: SlideDirection.DOWN, panel content is not visible"
Hello, great job with this package. Amazing!!!

My question about `SlideDirection.DOWN`. When i set it in directon, the `panel` content is not visible... How can i fix that?

I've tried to wrap content in a new Container, positioned, column, etc... nothing works!

I think i am missing some point.

here my code:
[code]

![image](https://user-images.githubusercontent.com/2028673/70391807-e599e880-19

[2019-12-08 18:17] wemersonrv commented on #81
After using it a litle, the content starts to appears... but missconfigured. See:

https://drive.google.com/file/d/1axJi391EARk33l6eqpRfet2B7uBu2U3o/view?usp=sharing

I need to show a initial portion of content top, and hide the rest... and when slid down, reveal the bottom of content...  I think it's not an error or bug and am doing something wrong.

Can you help me...

[2019-12-09 04:50] gordianknot1981 commented on #55
![preview](http://drive.google.com/uc?id=11qrwYh9TfOo01THVgwlUe0vXO_1cqQ7U)

I got a dirty work around..
### dependencies:
[code]

### usage:
[code]

for anyone interested in how to solve this, take a look at [here](https://www.davidanaya.io/flutter/combine-multiple-gestures.html)

[2019-12-09 11:42] GOTFire commented on #79
I defined my variable inside function and its makes this state problem moved them to stafull widget ,fixed

[2019-12-09 11:42] #79 closed

[2019-12-09 12:45] gordianknot1981 commented on #55
### Screen Shot
![screen_shot](http://drive.google.com/uc?id=11qrwYh9TfOo01THVgwlUe0vXO_1cqQ7U)

By implementing your own **GuestureRecognizer** and **GuestureDetector**, handling multiple **guesture point** is possible. Here is a dirty work around for manipulating guesture point of scrollview nested inside SidingUpPanel.

### Dependencies
[code]

### Usage:

[code]

for further explanation on how

[2019-12-12 17:16] BenevidesLecontes commented on #77
@bullet-tooth i think you can achieve this, using panel controller and gestureDetector. Panel controller gives you the ability to hide, close and open manually.

[2019-12-16 12:34] 5hanth opened #82 "panelOpen: true / false should be a init config so that this can be used with bloc"
if such option is present, panel can be used with immutable states and easy to re-render panel with a different state.  currently panel controller cant be stored in  immutable state.

[2019-12-19 09:54] rohankandwal commented on #82
Yes, currently trying to open the drawer on a button click, it isn't working.

[2019-12-23 18:29] YaarPatandarAA opened #83 "Resize Image from collapsed to open, HERO?"
### How can one achieve the following:

![4](https://user-images.githubusercontent.com/23144920/71374282-02651d00-256f-11ea-9301-eb9297668df6.gif)

[2019-12-26 08:36] zigang93 commented on #12
@eric-taix-teads yea.. i need this feature

[2019-12-26 16:09] chuabingquan commented on #61
Hello, is there any follow up to this issue? @akshathjain

[2019-12-26 19:53] akshathjain commented on #83
You can resize (using a custom animation) using the `getPanelPosition()` method from the `PanelController`.

[2019-12-26 19:56] akshathjain commented on #81
The panel is being rendered underneath the AppBar. You can fix this by either removing the AppBar, or adding padding to the top of your panel content that's equivalent to the height of the AppBar.

[2019-12-26 19:56] akshathjain commented on #80
Could you elaborate a little more on the type of behavior you'd like?

[2019-12-26 19:57] akshathjain commented on #76
Can you attach a sample `main.dart` that replicates this issue?

[2019-12-26 19:58] akshathjain commented on #74
Yes, I've encountered this myself and that is the correct fix. Closing this issue.

[2019-12-26 19:58] #74 closed

[2019-12-26 19:59] akshathjain commented on #73
You could try wrapping the `SlidingUpPanel` in an animation widget. This is a feature external to the `SlidingUpPanel` as it has no way of knowing when its height parameter is changed by a parent widget.

[2019-12-26 19:59] #73 closed

[2019-12-26 20:02] akshathjain commented on #70
This is a duplicate of #24, which was closed some time ago. Please refer to that issue for more information about this. Although since this is the second request for this feature, I might add it in the future if more people would like to see it. Closing the issue for now.

[2019-12-26 20:02] #70 closed

[2019-12-26 20:03] akshathjain commented on #69
Good catch, will change in the next update.

[2019-12-26 20:05] akshathjain commented on #68
@mariapapag95 @phillippbertram @frasza Is this still an issue or has @mariapapag95 solution fixed it?

[2019-12-28 14:04] johnny-stevie commented on #48
Could you provide some code on how to solve that? I'm a bit confused on how to implement it.

[2019-12-28 16:41] johnny-stevie opened #84 "Body ListView.builder stops sliding"
The ListView stops sliding in the main body of the page when the collapsed SlidingUpPanel widget appears. Is there a workaround for this with, such as the PanelController?
Code
[code]

Any help appreciated.

[2019-12-29 11:16] bierbaumtim commented on #52
Wrap your NotificationListener in your Panel with a Scaffold widget and set the backgroundColor of the Scaffold to transparent, should fix this error, because scaffolds handles that the content is visible when keyboard is open

[2019-12-30 14:36] chuabingquan opened #85 "Set MinHeight of panel to fit content"
Hello, is it possible to set the MinHeight of the panel based on content that's being revealed? (Like collapsed except the content in it doesn't fade away on drag up).

[2019-12-31 07:59] quantosapplications opened #86 "Snapping points"
Hello, awesome plugin, thank you!
Is it possibile to define different snapping points between 0 (closed) and 1 (opened)?
Like google maps for example.
And also it would be great if I could dismiss panel dragging down like bottom sheet modal.

Thank you!

[2020-01-02 08:44] eric-taix-teads commented on #12
Nop, sorry but I did not have time to create a PR for now (multiple other side projects during my spare time).

[2020-01-08 20:53] akiligedeon opened #87 "Button Inside the slide Up Panel won't fire if the panel is opened on iOS"
I have got some buttons in the panel with respective functions to be called,(Everything works well on android) but on iOS when the panel is at its initial position, Everything works until you sweep the panel app(Everything seems to be muted). Did anyone come across this behavior?

[2020-01-11 10:48] quantosapplications commented on #86
Added a pr to provide this functionality
https://github.com/akshathjain/sliding_up_panel/pull/89

[2020-01-11 13:28] artsemionov opened #90 "Putting WebView into panel breaks sliding animation."
It happens when you try to open/close panel while dragging the WebView inside panel. If you drag any other widget or empty space it works fine. After animation braking you still can drag panel up and down, but it won't animate itself anymore.

[2020-01-12 14:01] artsemionov commented on #90
This issue is somewhat connected with the UIKitView and GestureDetector. It works as expected if any regular widget is used instead of native. GestureDetector stops sending onVerticalDragUpdate and onVerticalDragEnd at the moment panel is expanded to full height if it was dragged by WebView.

[2020-01-13 12:05] artsemionov commented on #90
The fact that the appearance of the issue is somehow connected with the moment the panel was completely opened led me to the idea of experimenting with the panel height. Indeed, if you increase the height of the panel (which is "//open panel" in source), for example, by 1, or even 0.01, so that the panel (and its parent Stack) never fits completely into its parent (a Container inside a GestureDete

[2020-01-13 12:14] artsemionov commented on #87
Try to putting
`overflow: Overflow.visible`
to the Stack inside this lib source as I mentioned here https://github.com/akshathjain/sliding_up_panel/issues/90

[2020-01-21 13:08] osamabinishrat commented on #17
I have found a work around to fix above bug. Just replace following piece of code:
`sc.addListener((){
      setState((){
        if(_sc.offset <= 0) {
          disableScroll = _sc.offset <= 0;
          _pc.close();
        }
      });
    });
`

` onPanelOpened: (){
                setState(() {
                  disableScroll = false;
                  _sc.animateTo(0.1,  curve: Curves.easeOut

[2020-01-21 16:36] akshathjain commented on #17
@osamabinishrat good fix! Ideally, however, the panel should be able to track your finger as you close the panel.

[2020-01-21 21:45] akshathjain commented on #17
I've found a solution that provides really good results:
The issues described by @rydrdev, @semsturgut, and @fremfi is related to https://github.com/flutter/flutter/issues/12712 and https://github.com/flutter/flutter/issues/14452. The issue doesn't affect performance, but will be dealt with before this is released.

I'll most likely clean this up and push to master within the next week or so.
[cod

[2020-01-23 06:07] #83 closed

[2020-01-23 06:07] #81 closed

[2020-01-23 06:07] #80 closed

[2020-01-23 06:09] akshathjain commented on #76
Closing due to lack of response. Feel free to reopen this if the issue persists.

[2020-01-23 06:09] #76 closed

[2020-01-23 06:14] akshathjain commented on #52
Looks like @bierbaumtim suggestion seems to solve the issue. Closing this issue.

[2020-01-23 06:14] #52 closed

[2020-01-23 06:34] j05u3 commented on #17
I tested it in my android emulator and in a real iOS device. For some reason it doesn't work as well (and the bug persists) in my iOS device. I will perform more testing anyway.

[2020-01-23 14:11] akshathjain commented on #17
@j05u3 Did you try running it in release mode? Also by doesn’t work well do you mean that it’s laggy or something else? I’m going to test this further on physical devices, but my experience on an iPhone 11 emulator was fairly positive.

[2020-01-23 16:26] j05u3 commented on #17
No, I only tried in debug mode. I meant that this (https://github.com/akshathjain/sliding_up_panel/issues/17#issuecomment-545912374) keeps happening. I hope I can do further testing one of this days, I am a little busy with other stuff.

[2020-01-24 23:10] akshathjain commented on #17
There's a version that's live on the dev branch that doesn't have the bug described here: https://github.com/akshathjain/sliding_up_panel/issues/17#issuecomment-545912374.

Feel free to check it out (I'm still working on documentation, but the example has been updated).

Here's a quick example demonstrating how to use it:

[code]

[2020-01-24 23:29] #69 closed

[2020-01-24 23:33] #43 closed

[2020-01-25 06:48] osamabinishrat commented on #17
@j05u3 Try this

`onPointerMove: (PointerMoveEvent p) {
                    if (panelOpen && _sc.offset <= 0 && p.delta.dy>10) {
                      _pc.close();
                    }
                  },`

[2020-01-26 01:54] #17 closed

[2020-01-26 01:54] #55 closed

[2020-01-26 01:55] #60 closed

[2020-01-26 01:55] akshathjain commented on #60
This functionality has now been released.

[2020-01-26 01:55] akshathjain commented on #55
This functionality has now been released.

[2020-01-26 01:55] akshathjain commented on #17
This functionality has now been released.

[2020-01-27 02:28] j05u3 commented on #17
@akshathjain  You were right, I think I didn't compile correctly. I just tested in my iOS device and it works fine.

[2020-01-27 02:31] akshathjain commented on #17
@j05u3 Did you test using the method described in https://github.com/akshathjain/sliding_up_panel/issues/17#issuecomment-576897143 or using the `v1.0.0`? The most recent update uses a slightly different fix than what's described in the comment.

[2020-01-27 02:39] j05u3 commented on #17
@akshathjain  I only tried the method described in https://github.com/akshathjain/sliding_up_panel/issues/17#issuecomment-576897143

Awesome, I will try v1.0.0 then.

@osamabinishrat sorry didn't have time to test your solution.

[2020-01-27 05:07] akshathjain commented on #12
This is going to be added in the next version of this package.

[2020-01-27 05:11] akshathjain commented on #21
I’m probably not going to add this to the panel in the future only because I think it’s easier to use a WillPopScope widget and the panel controller to achieve the desired functionality (which is how I’ve done it in my projects in the past).

This avoids adding unnecessary complexity to the package and handling of the countless edge cases associated with this.

[2020-01-27 05:11] #21 closed

[2020-01-27 09:09] rohansohonee opened #94 "Too much widget rebuild occurring when using PanelBuilder [BETA]"
Hi @akshathjain

Just started playing around with the new PanelBuilder (beta) using this code snippet from your example docs:
[code]

- I added a print statement ``print('scrolling list rebuilt');``.
- PanelBuilder (beta) keeps rebuilding the widget when scrolling the list. This need to be fixed.

Console log output for reference:
[code]

[2020-01-27 13:52] LucasED78 opened #95 "Can't open panel programmatically"
I try to open the panel programmatically and doesn't work. This is the code where I set the controller:

[code]

And this is the place where I call the open method:

[code]

This is the log output I received:

[code]

[2020-01-27 14:11] akshathjain commented on #95
@LucasED78 can you provide a sample main.dart to replicate this? It seems like you’re calling a panelController method before the SlidingUpPanel widget is rendered.

[2020-01-27 17:45] akshathjain commented on #94
@rohansohonee I profiled the sample code and got render times at < 4 ms / frame which is substantially less than the 16 ms / frame that Flutter recommends to maintain 60 FPS.

However, it is unnecessary to rebuild the panelBuilder widget on each animation tick as the panel slides up and down (which is currently occurring). This will be resolved in the next update.

[2020-01-27 21:56] ozburo commented on #94
@akshathjain just wanted to say that this update saved me! Got my Sliding Panel > PanelBuilder > CustomScrollView working like a charm!

Thanks 🥇

[2020-01-29 18:11] biklas7 commented on #94
Hi, @akshathjain I'm having heavy performance problems with this.  Glad to know you're working on it! Thanks for the awesome package :+1:

[2020-01-30 14:40] biklas7 opened #96 "onPanelClosed is triggered when the panel is opening"
If the panel is closed and you open it the onPanelClosed listener is triggered. I think it should only trigger after the panel is opened and then closed, not before opening the panel.

[2020-01-31 04:55] team55 opened #97 "after close by tapping by backdrop, panel not draggable (scroll content only)"
after close by tapping by backdrop, panel not draggable (scroll content only)

[2020-01-31 05:04] team55 commented on #97
backdropTapClosesPanel solved problem

[2020-01-31 07:43] chhayphearun opened #98 "List view horizontal is not separated when scrolling"
When I have two lists, one is vertical scrolling and two horizontal scrolling. when you scroll horizontally you can slide down and up. can we scroll them separately?

[2020-01-31 12:37] Injazz commented on #95
i think you have to call `_controller.open()` instead of `controller.open()` since `_controller` was assigned as controller for the panel

[2020-01-31 17:05] GreyOakSoftware opened #99 "Ability to open/close the panel by sliding anywhere instead of dragging the top"
Is there any way I could make the panel work as it normally does but instead of having to drag the top to open and close the panel, I can make it so that if I drag anywhere on the panel it first opens the panel then continues with scrolling?

[2020-01-31 17:36] akshathjain commented on #99
Yes, v1.0.0 introduced the `panelBuilder` property that allows you to achieve that functionality. Check out [this](https://pub.dev/packages/sliding_up_panel#adding-scrollable-elements-to-the-sliding-panel) sample for the specified behavior.

Duplicate of  #17, #55, #60.

[2020-01-31 17:36] #99 closed

[2020-01-31 17:37] akshathjain commented on #98
Can you attach a sample `main.dart` that causes this?

[2020-01-31 17:38] akshathjain commented on #96
I'll look into this. I thought I addressed it in a previous update, but I guess the bug is back.

[2020-02-01 07:17] Phearun99 commented on #98
please check here =>
https://www.youtube.com/watch?v=6yC3Go6hW-w

[2020-02-02 20:48] giga10 opened #100 "Animate panel from collapsed to hidden?"
I would like to hide (show) the collapsed panel with slide animation when user scrolls down (up) the listview.  AnimatePanelToPosition method does not contain value for hidden state, and show()/hide() methods do the job, but without the animation.

[2020-02-03 12:53] marvin89 commented on #87
I also have this issue :(

[2020-02-05 00:01] eopeter opened #101 "SlidePanel Over BottomTabbar"
How will I put this over a bottomNavigationBar? Still want to have access to the tabs while panel is collapsed

[2020-02-06 23:45] akshathjain commented on #101
You can place the `SlidingUpPanel` inside of a stack, and then use a `Positioned` widget to adjust its bottom offset to be above the `bottomNavigationBar`

[2020-02-06 23:49] akshathjain commented on #100
I'm currently working on adding a middle snap point to the panel that will allow the user to dismiss it like you described.

[2020-02-06 23:49] akshathjain commented on #98
I found the issue. This will be resolved in the next update.

[2020-02-07 05:11] giga10 commented on #100
Great! Will be waiting for it. 😄

[2020-02-07 05:15] giga10 commented on #56
What's the status of this one?

[2020-02-09 22:40] sgehrman opened #102 "Click on panel closes the panel when opening with controller.open()"
I have it set to minHeight: 0.  I want it hidden until I click a floatingActionButton and it calls controller.open().  The first time it works.  I click the button and the panel is open and clicking the panel is OK, but if I drag to close the panel, and then open it again, any clicks on the panel will close the panel.  Unless I drag the panel down a bit and back up, then clicks work without closin

[2020-02-09 23:54] sgehrman commented on #102
figured out the bug.  Add this to Listener...

The problem was caused by the velocity tracker thinking the last  velocity was my swipe down to close the panel.  Then when I used the controller.open() and my first tap would trigger the onPointerUp and would think I swiped down because of the velocity set.  Adding the onPointerDown will tell the velocity tracker I just clicked and the onPointerUp af

[2020-02-10 07:26] timbrueckner commented on #61
I was looking for the same thing. I think it should behave like HTML. In case no maxHeight was set it should take up just as much space as its content requires. Thanks for the widget! It is really great 👍🏻

[2020-02-14 11:18] dimityrivanov opened #104 "Buttons on top"
Is it possible to attach buttons on top of that view that moves with the panel when collapsed or not ?

[2020-02-24 04:01] brizaldi opened #105 "Set MaxHeight relative to available space"
is it possible to set the MaxHeight of the panel the total available space that the panel can expand to. i.e. sliding panel as Expanded child

[2020-02-24 04:19] brizaldi commented on #85
any update about this?

[2020-02-25 07:41] sgehrman commented on #102
?

[2020-02-27 08:58] danielhuoo commented on #95
That's not the key problem.

[2020-02-27 14:05] Bad-Mother-Fucker opened #106 "Not using root text theme when setting panel as root widget."
When I use the panel as a root widget in my MaterialApp al the text inside it is not using the root material app Theme. Here's my code:

https://pastebin.com/uhau5XgV

And here is what I get when I'm running it.

![IMG_19EDD7B38FD4-1](https://user-images.githubusercontent.com/24737425/75452261-43641e00-5972-11ea-93f5-ae056ac9c110.jpeg)

Everything works fine in the panel's body (Scaffold) but for

[2020-02-27 20:04] martyfuhry commented on #68
I'm still having this issue, but only when using SlidingUpPanel in a stack, with a Google Maps widget, and with parallax set to true. If I remove any of those (either the stack, the Google Maps widget, or disabling parallax), the problem goes away.

Essentially, I'm using it exactly the way the example here uses it: https://github.com/akshathjain/sliding_up_panel/blob/master/example/lib/main.dart,

[2020-02-29 01:34] illuminated opened #107 "Controlling the animation curve / duration of sliding animation"
I want to slide up the panel after all the widgets have been rendered on screen (kind of an _on load preview_ of the contents of the body) and then slide up the panel.

I can do that with animatePanelToPosition within the initState, but what bothers me is there is no animation in this process... The panel just pops up in few milliseconds. Is there a way to change this? Ideally, to be able to set b

[2020-02-29 02:28] aboutmydreams commented on #104
some problem ,
#### the red bottom cant onpress
![image](https://user-images.githubusercontent.com/34613360/75599267-264c5e00-5ade-11ea-8a4a-5f0c7735ded6.png)

[2020-03-02 22:35] giga10 commented on #106
Try wraping SlidingUpPanel into Material widget (or Scaffold's body property).

[2020-03-05 14:24] ArtemMikhaylov commented on #48
I don't know why, but in my case, to make visible last item of ListView with panel in the collapsed state, I needed to add padding to the bottom of the ListView as much as the MAX height of the panel. And in case if I have also bottom navigation bar, I had to add `kBottomNavigationBarHeight` to padding as well.

[2020-03-05 16:12] craggy2593 opened #108 "Close panel on backdrop drag"
Is there any way of closing the panel on dragging the backdrop in the direction of the panel close?

There is the ability to close on tap with `backdropTapClosesPanel`, and dragging within the panel when using a `panelBuilder` will close accordingly, but when dragging within the backdrop area, any interactions are ignored.

[2020-03-06 10:14] surveshoeb commented on #94
@akshathjain have fixed this issue?

[2020-03-09 18:33] RomanJos opened #109 "Less ressource expensive FloatingButton"
Hi I'm trying to show a floatingbutton that is attached to the sliding panel exactly like your exemple but without rebuilding the entire panel and background.

I have kind of achieved that by setting the panel transparent and adding the button in the panel and then adding the normal stuff after but the transparent respond to click events so I drag the panel by touching this empty area.
I then trie

[2020-03-12 18:22] Bad-Mother-Fucker opened #111 "Tap on panel body as first gesture closes the panel."
I'm using panelBuilder and a SingleChildScrollView as panel body. If I scroll first and then tap nothing happens and works fine. If I first tap on the body the panel closes immediately.

[2020-03-17 18:38] shlima commented on #111
Have the same issue

[2020-03-17 19:19] shlima commented on #111
The same issue but with the different behaviour. The panel closes by itself when:

1) I open it programmatically (controller.open)
1) I click on an element (button) inside the panel
1) if I use a scroll inside the panel before clicking on the button inside it, the panel does not close spontaneously

`SlidingUpPanel` has been initialized with `panelBuilder` in my case.

[2020-03-18 10:42] Bad-Mother-Fucker commented on #111
I found a workaround using a global key to access the state and call open() method. In this way it will not close automatically

[2020-03-18 16:27] viddik13 commented on #67
This can happen when `SlidingUpPanel` wraps `Scaffold`. Wrapping the `SlidingUpPanel` with `Scaffold` (the recommended method according to [docs](https://pub.dev/packages/sliding_up_panel#simple-usage)) will make the `Drawer` slide over the `SlidingUpPanel` properly.

Before:
[code]

After:
[code]

[2020-03-20 14:59] marchacio commented on #105
You can get height of your screen:
`double height = MediaQuery.of(context).size.height`
And use it as `maxHeight`.

Remember that's possible get this code (`double height = MediaQuery.of(context).size.height`) only from the `Build` method of the Stateful/Stateless widget

I hope I have helped you

[2020-03-23 03:48] TatoCuervo opened #114 "Panel "jumps" when bringing app back to foreground and keyboard was open."
Just found an issue related with the phone keyboard and swapping the app to background/foreground.

Steps to reproduce:
1- Open app with sliding panel and leave it running
2- Go to any other app where you can type and make the phone keyboard to display . Then, keep keyboard open.
3- Go back to the app with sliding panel (foreground).

When app is back to foreground, Sliding panel gets rebuilt and

[2020-03-23 03:51] TatoCuervo commented on #114
By the way, in case anybody runs into this issue there is a way to workaround it by setting `resizeToAvoidBottomInset: false,` on the Scaffold. But it might conflict with your desired UI behaviour.

[2020-03-24 08:03] brizaldi commented on #105
what if i want to use it inside tab bar with bottom navigation bar? because i want to set panel height to fill the space between appbar and bottom navigation bar

[2020-03-24 09:04] marchacio commented on #105
You can wrap all widgets into a `Column`

[code]

[2020-03-24 12:01] s0nerik commented on #94
Looks like I've fixed it in https://github.com/akshathjain/sliding_up_panel/pull/112

[2020-03-27 17:19] wedza commented on #107
Seems like [it is already a planned feature](https://github.com/akshathjain/sliding_up_panel/blob/036238e74fcc5ab2581b886617ff2beb077b7504/lib/src/panel.dart#L422).

In the waiting of this, [I tweaked this line in my project](https://github.com/akshathjain/sliding_up_panel/blob/036238e74fcc5ab2581b886617ff2beb077b7504/lib/src/panel.dart#L425).

[2020-03-28 21:51] fvisticot opened #116 "parallax"
When using SlidingUpPanel with parallaxEnabled an parallaxOffset, sliding up and down with the panel is not fluid.
Sometime, the panel does not move when the finger scroll up and down.

In addition, when using parallax, listview elements (ListTile with onTap) from the panel are no more "Clickable"

Any advice ?

[2020-03-29 10:24] troyanskiy commented on #51
Hi.
I have the same issue. It's related to the part that `SlidingUpPanel -> body` component does not taking into account size of the app bar.
Here https://github.com/akshathjain/sliding_up_panel/blob/master/lib/src/panel.dart#L250,

[2020-03-29 20:55] giga10 commented on #107
I need this too. 😀

[2020-03-30 04:24] AlaaEldeenYsr opened #117 "The panel get snapped during scrolling CupertinoDateTimePicker widget"
When using a listview for example inside the panel it's fine to pass it the panel scroll contoller so its scrolling can be itegrated with the panel snapping, But what if i,m using a cupertino time picker inside the panel?, The time picker doesn't handle a scroll controller prameter so its scrolling can be integrated with the panel snaping, And the problem is that the panel get snapped during picke

[2020-03-30 20:28] fvisticot opened #118 "panelBuilder with WebView does not scroll correctly"
The panelBuilder display a WebView (webview_flutter)
- Display is correct.
- I can scroll down the webview page
- When i scroll up, the panel starts to close

I do not see any ScrollController in the WebView package.

Any solution ? advice ?

I find a solution:
- I get the Webview Height when webview is finished (with JS)
- I redraw the view with the computed height

[code]

[2020-03-30 22:33] akshathjain commented on #94
Thanks to @s0nerik's PR, I'm closing this issue. This fix will be pushed to prod within the next 24 hours.

[2020-03-30 22:33] #94 closed

[2020-03-30 22:37] akshathjain commented on #116
This seems related to #94, which was recently just fixed. I'm going to go ahead and close this issue. Feel free to reopen it if the new version of the package doesn't resolve your issue.

[2020-03-30 22:44] akshathjain commented on #109
You can create an `AnimationController` that has its value set to the `position` returned by the `onPanelSlide` callback. Then, try using an `AnimatedBuilder` that subscribes to the animation controller instead of calling `setState`. I'll admit that the example isn't ideal with regards to performance, nor is it intended to be (since its a very simple implementation for demonstration purposes). I'l

[2020-03-30 22:44] #109 closed

[2020-03-30 22:46] akshathjain commented on #108
You can create a custom `GestureDetector` over your body and check for drags that way. On a drag, you can use the `PanelController` and call `_pc.close()`.

[2020-03-30 22:46] #108 closed

[2020-03-31 04:04] akshathjain commented on #102
Will try to reproduce and implement the proposed fix in the v1.0.1

[2020-03-31 04:06] akshathjain commented on #97
Seems like you've figured out a solution. Going ahead and closing this issue.

[2020-03-31 04:06] #97 closed

[2020-03-31 04:08] akshathjain commented on #95
@LucasED78 any update on the sample `main.dart`? I won't be able to address the issue until I'm able to reproduce it in your context.

[2020-03-31 04:09] akshathjain commented on #87
This is a known issue. I've found that tapping on the button multiple times eventually results in a click. I'm currently investigating.

[2020-03-31 04:14] #101 closed

[2020-03-31 04:18] akshathjain commented on #107
@illuminated using the `animatePanelToPosition` method should have an animation on the panel by default. Can you provide a sample `main.dart` that causes the sudden jump?

I'll also add the animation curve / duration to the panel controller in v1.0.1.

[2020-03-31 05:01] akshathjain commented on #102
This has been fixed and will be pushed in the next release (v1.0.1).

[2020-03-31 05:01] #102 closed

[2020-03-31 05:07] akshathjain commented on #107
I'm going to go ahead and close this issue for now since I've added the requested functionality. If you're still not able to animate the panel after v1.0.1 is released, feel free to reopen this.

[2020-03-31 05:07] #107 closed

[2020-03-31 05:10] akshathjain commented on #77
Related to #100.

[2020-03-31 05:12] akshathjain commented on #41
I'm going to go ahead and close this issue. I think replacing the Container with an AnimatedContainer at this point would cause a breaking change that can be avoided by using the PanelController.

[2020-03-31 05:12] #41 closed

[2020-03-31 05:14] akshathjain commented on #100
Related to #12

[2020-03-31 05:14] akshathjain commented on #86
Related to #12

[2020-03-31 09:29] RomanJos commented on #109
That will be cool but writing an animationbuilder, using the callback etc for a floating button seems overkill for me
if you attach the widget like I did in a positioned widget you could control where you want it to be on x and y but also in the stack for exemple on a "center the map on position" button we can put it behind the panel widget and move his height to show or hide it if the map is cent

[2020-03-31 10:25] fvisticot commented on #116
Tx for the update.
I have checked with the version 1.0.0 using panelController.
I confirm that the bug is still there (in my case).
When I drag up the panel for the first time, the panel start to slide and stops

For the click on the list elements it is OK with this version

[2020-03-31 10:33] fvisticot opened #119 "Parallax issue (reopen #116)"
I have checked with the version 1.0.0 using panelController.
I confirm that the bug is still there (in my case).
When I drag up the panel for the first time, the panel start to slide and stops

For the click on the list elements it is OK with this version

[2020-03-31 10:56] giga10 commented on #119
@fvisticot Latest version  is 1.0.1. It should be released today on pub.dev. Wait for that one.

[2020-03-31 15:33] akshathjain commented on #119
Duplicate of #116. Closing this issue and reopening the original.

[2020-03-31 15:33] #119 closed

[2020-03-31 15:39] akshathjain commented on #109
The AnimatedBuilder is a more general approach that allows many more UI elements to be rebuilt as a result of the panel position. For example, users may want to have multiple elements fade out as the panel moves upwards or have other elements move with the panel. Since this behavior can vary from one implementation to another, adding a specific feature that only allows a FAB to move up and down is

[2020-03-31 21:16] akshathjain commented on #118
Duplicate of #90. Closing this issue. Please refer to that thread for updates.

[2020-03-31 21:16] #118 closed

[2020-04-01 06:58] fvisticot commented on #116
To give more information: the body is a basic GoogleMap widget without any stack inside
It seems the issue is the same as #68

[2020-04-01 19:16] akshathjain commented on #111
I believe this to be related to issue #102, which has been resolved. Closing this issue for now, but feel free to reopen it if v1.0.1 of the package doesn't fix it.

[2020-04-01 19:16] #111 closed

[2020-04-02 04:32] akshathjain commented on #108
Related to #24, #70, #121. This has been implemented and will be pushed in v1.0.1.

[2020-04-02 04:34] akshathjain commented on #105
@brizaldi There are flutter methods that allow you to get the preferred size of the bottom nav bars and app bars, so you can account for those using the method mentioned by @marchacio.

[2020-04-02 04:34] #105 closed

[2020-04-02 04:35] akshathjain commented on #100
Implemented and will be pushed in v1.0.1.

[2020-04-02 04:35] akshathjain commented on #12
Implemented and will be pushed in v1.0.1.

[2020-04-02 04:35] #12 closed

[2020-04-02 04:35] akshathjain commented on #77
Implemented and will be pushed in v1.0.1.

[2020-04-02 04:35] #77 closed

[2020-04-02 04:35] akshathjain commented on #86
Implemented and will be pushed in v1.0.1.

[2020-04-02 04:35] #86 closed

[2020-04-02 04:37] akshathjain commented on #16
Closing for now since this behavior isn't clearly defined when using a `snapPoint`.

[2020-04-02 04:37] #16 closed

[2020-04-02 04:37] akshathjain commented on #67
@viddik13 is correct, that is the recommend solution. Closing.

[2020-04-02 04:37] #67 closed

[2020-04-02 04:38] akshathjain commented on #95
Closing due to lack of response. Feel free to reopen if you encounter this issue again.

[2020-04-02 04:38] #95 closed

[2020-04-02 04:41] akshathjain commented on #104
@dimityrivanov Yes, check out the FAB in the example project and look at #109 for a recommendation for a more efficient implementation.

@aboutmydreams Please reopen in a new issue with more information (using the 'Bug report' template).

[2020-04-02 04:41] #104 closed

[2020-04-02 04:44] akshathjain commented on #84
@johnny-stevie I would recommend using the `panelBuilder` which was introduced in v1.0.0. This will allow you to link the panel position with the scroll position and should solve this issue. I'm closing this for now, but feel free to reopen this if it doesn't work.

[2020-04-02 04:44] #84 closed

[2020-04-02 04:47] akshathjain commented on #116
Closing this issue since its a duplicate of #68. Please follow that thread for updates.

[2020-04-02 04:47] #116 closed

[2020-04-02 04:48] akshathjain commented on #72
Related to #68.

[2020-04-02 04:48] akshathjain commented on #68
Possible fix mentioned in #72, although it still needs to be tested.

[2020-04-02 08:21] fvisticot commented on #68
Version 1.0.1 does not solve issue with parallax enabled and google_maps.

[2020-04-02 19:09] giga10 opened #123 "Animate panel from collapsed to hidden (and vice versa)? (Reopen issue #100)"
Hey @akshathjain

Just to let you know that #100 is NOT fixed in v1.0.1 with adding SnapPoint feature, simply because it has nothing to do with it in the first place. I probably phrased it badly in the original issue description. Sorry for that.

My "request" there was actually - adding animation for show() / hide() methods.

It is (I guess) related to #56.

[2020-04-02 19:24] giga10 commented on #106
Well, that is expected behaviour as per Flutter docs. You cannot get the "material" text theme, if you are putting Text widget above the NON material one.

Wraping entire SlidingUpPanel into Material widget or Scaffold's body property is the way to go.

[2020-04-02 23:27] akshathjain commented on #123
I'm closing this and reopening the original thread.

[2020-04-02 23:27] #123 closed

[2020-04-02 23:27] akshathjain commented on #100
Related to #56.

[2020-04-05 19:08] shlima commented on #111
Can confirm the issue has been resolved, thank you.

[2020-04-06 18:19] luciano-work opened #124 "Body is covered by **collapsed slide up panel** and **bottomNavigationBar**"
**Describe the bug**
There is a problem if I use a **listview builder** inside **body**, and added a **BottomNavigationBar**. The body don't respect the screen size and stay behind of bottomNavigationBar. With a new property **bodyHeight** is possible to ajust this size and discounted the panel size too.

**To Reproduce**
Inside the body Add some **Listview Builder** and in Scaffold add a **bottom

[2020-04-08 08:02] ArefMozafari opened #125 "Changing panelBody at runtime"
Hi there
how can i change the panelBody at the run time? because i'm using the panel for in my root widget and for each item that user selected in current screen i need to show different body for in the panel

[2020-04-08 19:10] ShiroYacha commented on #28
this seems to be related to other issues which is causing the bottom of the body to be covered by a navigation bar... any quick workaround to this? I have been trying to add paddings of kBottomNavigationBarHeight but it's not enough it seems...

[2020-04-09 09:57] TheRishka opened #126 "Add HIDDEN to defaultPanelState"
Right now there is no option to hide SlidingUpPanel by default.
It's either closed or opened.
Would be nice to have such option.
It is related to #100 # but still a bit different request.
Lack of default options makes the library suit less for BLOC types of architecture.

[2020-04-11 11:17] YLAINTSAURENT commented on #124
I faced a similar situation so I modified the source code as a temporary workaround to fit my case.

The height of the collapsed `SlidingUpPanel` being equal to `BottomNavigationBar`'s default height `kBottomNavigationBarHeight`, the combined height of both widgets (`kBottomNavigationBarHeight*2`) had to be accounted for in the `SlidingUpPanel` build method to avoid covering part of the body.

[co

[2020-04-11 12:03] luciano-work commented on #124
@YLAINTSAURENT Sometimes I need to hide *bottom Navigation Bar*, I fixed my problem adding a new property **bodyHeight**.
[code]

[2020-04-12 11:12] giapvokt opened #127 "Can't scroll to bottom of the ListView"
**Describe the bug**
Added the list view in Pannel and using the ScrollController of panelBuilder for the scrollController of the list. But when open the panel and want to scroll the list view to the item index then I using ` _sc.jumpTo(offset);`  But it doesn't work.

[2020-04-12 23:37] akshathjain commented on #125
I'd recommend maintaining an enum that describes all the states of your panel. When the state is supposed to change, call `setState()` and update an enum variable. For example:

[code]

[2020-04-12 23:37] #125 closed

[2020-04-12 23:42] akshathjain commented on #126
Will add PanelState.HIDDEN or something similar to either `defaultPanelState` or create a new property.

[2020-04-13 04:46] ArefMozafari commented on #125
Thank you

[2020-04-13 15:45] asiamov commented on #85
Interested in this as well.
I got around this by tapping into the build function of the Panel Body and getting the content height an runtime but a less hacks way would be nice.

[2020-04-13 21:31] akshathjain commented on #71
`header` and `footer` properties added in v1.0.2.

[2020-04-13 21:31] #71 closed

[2020-04-14 07:17] mpcreza opened #128 "Slider notifies "onChangeEnd" twice in panel"
hi
When embedding a Slider inside panel, the Slider fires twice "onChangeEnd" if you start dragging it.

sample:

`import 'package:flutter/material.dart';
import 'package:sliding_up_panel/sliding_up_panel.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Flutter Demo',
      theme:

[2020-04-15 11:53] AndroidNils commented on #124
@luciano-work I created a PR to scale the body size :) https://github.com/akshathjain/sliding_up_panel/pull/129

[2020-04-15 12:01] luciano-work commented on #124
@AndroidNils Good job!

[2020-04-16 09:36] ASHFAQPATWARI commented on #87
@akshathjain did you found a solution to this?

[2020-04-16 16:38] akago-dev commented on #126
Would be nice to have snap point as default panel state also! and an option to disable the fast swipe which can be annoying in some configurations

[2020-04-16 21:11] alvarogabrielgomez opened #130 "Can't use PanelController.open(); when panelBuilder is used."
**Describe the bug**
I use a buttom to extend the panel using PanelController.open() function but does not work until im using the panelBuilder in it

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any ot

[2020-04-20 18:22] luciano-work commented on #19
There is a bug with this feature. When I open the panel and change something like an image, the widget is rebuild and the property **_isPanelOpen** is set to **True** and if I close the panel the property istill true, blocking GestureDetector in collapsed

[2020-04-22 12:49] giga10 commented on #85
Yep, I need this one too...

[2020-04-26 16:39] ghenry opened #131 "Can't run example on Flutter stable"
**Describe the bug**
Example fails to run

**To Reproduce**
`flutter run`

**Expected behavior**
Expected to run.

**Smartphone (please complete the following information):**
Simulator

[code]

[2020-04-27 10:49] leafney opened #132 "How to set up only one global panel instead of multiple"
I want to set up a global sliding_up_panel that can be used in all pages.
Now I can open the sliding panel from `APage` as follows:
[code]
I want to invoke the panel use `controller` in the subpage of `APage`, but it has no effect. Except to setting a new sliding panel in the sub page, is there a way to set a global panel?

My application scenario is here is that the content of sliding display in

[2020-04-27 15:40] mohammadne commented on #132
Exactly same issue for me.

[2020-04-27 15:44] mohammadne commented on #132
It is very good if we could have something like navigator to call it and open the sliding up panel, in every page we want

[2020-04-28 12:46] mpcreza commented on #132
you can do something like this:

[code]

and then call from sub pages:
[code]

[2020-04-28 21:13] mohammadne commented on #132
Thanks.
why do you use stf widget, I think you could use stl widget.

[2020-04-29 06:35] mpcreza commented on #132
@mohammadne
 yeah, you can also use STL widget

[2020-05-04 15:44] rjmchardy opened #136 "onAttached callback needed"
I am looking for a callback `onAttached` that will be called when the `panelController.isAttached` to the `SlidingUpPanel`.

What I'm trying to do is `hide` the panel on build but I'm having trouble since (I don't think) there is any way to hide the panel by default. This can only be done once the controller is attached.

On this note, it would also be good to have a property of the SlidingUpPanel

[2020-05-05 04:10] edex96 commented on #98
unfortunately in version 1.0.2 fast horizontal scroll still closes the panel

[2020-05-05 18:58] emvaized opened #137 "Usage with LongPressDraggable children in panelBuilder"
I want to use SlidingUpPanel in the following scenario: panelBuilder returns `ListView.builder` filled with `LongPressDraggable` buttons; when user starts to drag one of them, panel closes, so user can drag item on the screen below panel.

The issue is that panel continues to react to finger move until you release button, e.g. when you move dragged item in vertical direction, panel starts to open.

[2020-05-06 11:26] pkmangukiya commented on #126
I found a one way to hide SlidingUpPanel by default. that's not a sufficient way but it's a Alternate.

Set a minHeight property as => `minHetigh: 0`,

[2020-05-06 11:27] pkmangukiya commented on #126
i found a one way to hide SlidingUpPanel by default. that's not a sufficient way but it's a Alternate.

Set a minHeight property as =>` minHeight: 0,`

[2020-05-10 05:29] KieranLafferty opened #138 "[Question] Make SlidingUpPanel only fill available space"
It seems like SlidingUpPanel always assumes its going to be using the full screen size. For my use case I wanted to use the widget as a smaller component within my screen but keep hitting a bunch of issues doing that. Any way to accomplish this?

[2020-05-11 06:33] SunLongbri opened #139 "panelBuilder on Scrolling is not show my widget echarts of flutter_echarts"
**Describe the bug**
panelBuilder 在往下滑动的时候，并没有显示用flutter_echarts插件渲染的echarts。后台没有任何报错信息。

我的图标echarts的代码如下：

  @override
  Widget build(BuildContext context) {
    dataProvider = Provider.of<DataProvider>(context);
    return ConstrainedBox(
      constraints: BoxConstraints(maxHeight: AutoLayout.instance.pxToDp(470)),
      child: Container(
        key: _scaffoldKey,
        width: 750,

[2020-05-12 21:06] emvaized commented on #137
Some problem happens if panelBuilder returns TabBarView -- while swiping panel down, TabBarView reacts to any horizontal movement of finger, and switches pages.

[2020-05-13 09:02] sm2017 opened #140 "sliding_up_panel in a list view"
When I put sliding up panel in list view , body get hidden

[2020-05-13 15:55] hawkinsjb1 commented on #98
This happens for any horizontally scrolling element, whether there is another nested vertical list or not. Same goes for having a horizontal list in the collapsed view, its very hard to scroll left/right without the entire panel constantly moving up and down, is this a bug in the package or is there a way I can better handle this? I've tried using ScrollNotificationListeners to lock the panel but

[2020-05-15 12:24] emvaized commented on #137
My issue is solved now with the help of @s0nerik
Here's his solution: [https://github.com/akshathjain/sliding_up_panel/pull/135#issuecomment-628289490](https://github.com/akshathjain/sliding_up_panel/pull/135#issuecomment-628289490)

[2020-05-18 23:57] DJafari opened #141 "support SlideDirection.RIGHT and SlideDirection.LEFT"
is possible support other directions ?

in my case i want a IconMenu in left side of screen, when panel expanded, showing title + icon menu

[2020-05-20 09:04] JulianBissekkou commented on #98
When will be the new update be available? Do you have the link for the merge request?
@akshathjain

[2020-05-24 21:55] QuentinSc opened #142 "BUG : panelBuilder bad behaviour with listview"
**Describe the bug**
Became crazy after spend my evening on this.
It seems there is a bug when using SlidingUp panel with list view.
It's not working with some parameter from the sliding up widget.
In some case the listview keep the focus while the panel is closed.

**To Reproduce**
Use the code sample for  panelBuilder.
Enable backdropTapClosesPanel
Scroll up to open the panel.
Scroll the list.
T

[2020-05-27 05:15] sm2017 commented on #140
@akshathjain can you help me?

[2020-05-27 14:53] MarHend commented on #98
Hi!
We need this update, too.
AND: For some reason, our listview disappears in collapsed view when trying to scroll horizontal and scroll up and down unintentional.
Thanks for the update @akshathjain

[2020-05-29 04:57] chitgoks opened #144 "Background color does not follow dark or light theme"
Background is always white.

[2020-05-29 06:50] nhtlquan opened #145 "[Feature] Drag Header!"
When scrollview scroll middle body
I want drag header to scrollview to top and PanelController scroll with header!!

Look like  Zeplin:
https://drive.google.com/file/d/1KWbDHGzvExcmY7DN0N8GDDn2-4lkbCcz/view?usp=sharing

[2020-05-29 22:59] kbanta11 commented on #87
I'm having this issue on Android as well

[2020-05-31 02:47] jiazeh opened #146 "Drag is locked!"
When I browse the content and scroll to the middle page, and then click on the map screen, the panel drag will be locked.
[https://photos.google.com/share/AF1QipMq3z335n2fuSNqazIeM1m5IKBZtNRgl2I4ymi1y7qPuS52ikY1yVtgtO7lghhhjQ/photo/AF1QipMGhhngq9RvtbAk4RR6xGse2kxftawy70bc3XE_?key=RlBwLVBESTNpR2h0aF9vRWU3bUc0c2pCSy1uS1d3](url)
any suggestions??

[2020-05-31 03:00] jiazeh commented on #146
The code is same as the example, the different parts are as follows:

List<Marker> getLongPressedMarkers() {
    return tappedPoints.map((latlng) {
      return Marker(
        width: 40.0,
        point: latlng,
        builder: (ctx) {
          return FloatingActionButton.extended(
            onPressed: null,
            shape: RoundedRectangleBorder(
              borderRadius: BorderRadius.c

[2020-05-31 18:20] essboyer commented on #144
Same issue here. I got around it by wrapping the content (a Column in my case) with a Container, and setting the background color to `Theme.of(context).backgroundColor`.

[2020-05-31 18:29] akshathjain commented on #144
@essboyer that works but it might be easier to use the built in color property instead of wrapping the content.

[2020-05-31 22:52] chitgoks commented on #144
yes. that was my workaround but not everybody may know about it right away especially newbies.

[2020-06-01 03:39] akshathjain commented on #144
Will add default value to the color property to reflect the app theme

[2020-06-01 15:39] wiradikusuma commented on #141
Useful for tablets and desktop apps.

[2020-06-01 15:41] akshathjain commented on #141
I suppose this is possible. Will look into this.

[2020-06-01 16:00] wiradikusuma opened #147 "Width of SlidingUpPanel.body should follow its container"
**Describe the bug**
Width of `SlidingUpPanel.body` should follow its container.

**To Reproduce**
Steps to reproduce the behavior:
1. Examine this library's [`example` project](https://github.com/akshathjain/sliding_up_panel/blob/master/example/lib/main.dart), notice the wrapping widget which is a `Stack`.
2. Create a chrome that wraps the stack, with navigation items at the left side.

[code]

*

[2020-06-02 05:06] rokgregoric opened #148 "PanelContent gets initialized twice"
**Describe the bug**
The panel content gets initialized twice.
**To Reproduce**
Steps to reproduce the behavior:
[code]

This prints:
flutter: initState _EmptyState#9c683(lifecycle state: created)
flutter: initState _EmptyState#82081(lifecycle state: created)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to he

[2020-06-02 18:28] OmGaler commented on #145
Have the same issue

[2020-06-08 22:32] ghenry commented on #101
I'm just putting BottomNavigationBar as a child of the SlidingUpPanel. Works well.

[2020-06-08 22:34] ghenry opened #149 "Handle above "Explore Pittsburgh" text"
Hi,

What creates the dash/handle above these works in the images?

The bit above this https://github.com/akshathjain/sliding_up_panel/blob/master/example/lib/main.dart#L111

Thanks!

[2020-06-09 00:28] akshathjain commented on #149
Take a look at lines 148 to 160 — it’s just a container with a rounded border and a gray color.

[2020-06-11 03:59] ll886 opened #150 "resizeToAvoidBottomInsets not working at the top of scrollable content in panelBuilder."
I have a sliding up panel widget. I use the panelBuilder to have a singleChildScollView inside the panel. The sliding up panel is nested inside a stack whose parent is a Scaffold. I set the resizeToAvoidBottomInsets to false in this scaffold.

Inside the panel, I have a bunch of text fields that I don't want to be covered by the keyboard. The resizeToAvoidbototm Insets works fine most of the time.

[2020-06-11 14:04] akshayaeo opened #151 "Nested Sliding Panel"
The issue I'm facing is when I build a SlidingUpPanel widget inside another existing one.

**To Reproduce**
Build a SlidingUpPanel widget inside another existing one.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
The following StackOverflowError was thrown

[2020-06-13 17:37] KhatibFX commented on #142
I decided to change the library files until this is solved. I changed the following 2 methods to fix opening and closing:
[code]

[2020-06-14 23:14] NightSkyDev commented on #145
@nhtlquan @OmGaler

I needed this functionality too and found a way to do it.

If you haven't seen issue #85 , you can use the "minimum height" property (minHeight) to get the effect you want.  Don't use the "collapsed" property at all, and instead just use the minHeight and it gives the effect of dragging the header.  Pretty cool.

[2020-06-15 06:17] ryanhoo95 opened #152 "Inkwell cannot be tap inside panel builder"
**Describe the bug**
Difficult to detect inkwell's onTap when using panelBuilder.

**To Reproduce**
Use panelBuilder to add content which consist of inkwell and listview. The inkwell's onTap is hard to trigger.

[2020-06-15 09:04] OmGaler commented on #145
@NightSkyDev that sounds like it would work. In the end I found a solution at least to my issue. If you look on the readme I tried the scroll behaviour (I think, can't remember what it was called) with a scroll controller. Problem was, I forgot to link the scroll controller to the widget so I did that and it solved the issue.

[2020-06-18 11:58] arshrahman opened #153 "Panel not working anymore when backdropEnabled is true and backdropTapClosesPanel is true"
Set `        backdropEnabled: true,
        backdropTapClosesPanel: true`. Now, backdrop is enabled and tapping on the backdrop will collapse the panel. However, after tapping the backdrop, panel is not sliding up anymore. The solution is to to set ` backdropTapClosesPanel: false`. This of course disables collapsing panel on tapping backdrop.

**To Reproduce**
On the example provided in this packa

[2020-06-19 12:36] CodingDavid8 opened #154 "Hero body animation covers panel :("
**Describe the bug**
I've got an cached network image in the body/background of the sliding up panel. The open panel is covering the image when the screen is opened regularly. However, if I wrap the image in a hero widget and have the same image in a hero widget on a previous route as well, the hero animation is overlapping the panel while the hero transition occurs.

**To Reproduce**
Steps to rep

[2020-06-20 07:25] RohitRajP commented on #100
Everything about this package is awesome except this issue. I tried animating the opacity of the `CollapsedPanel` after and before calling `panelController.show()`, but, I am only able to animate the container within the collapsed panel... but the abrupt animation of the panel moving from `invisible` to `visible` is not affected.
@akshathjain could you please look into this, and at the very least

[2020-06-25 21:14] #131 closed

[2020-06-25 21:16] ghenry commented on #145
Do you mean changing the icon on slide up panel from a bar to a down arrow as you slide the panel up?

[2020-06-25 21:48] OmGaler commented on #145
No, but that would be pretty cool.

[2020-06-26 12:26] imJithin777 opened #155 "Adding SingleChildScrollview to Scrollcontroller"
i wanted a bottom bar as collapsed panel which when scrolled to top makes the bottom bar on top and a singlechildscrollview as floating panel...but when the bottom bar is on top and when singlechildscrollview is scrolled to down, the floating panel along with the bottom bar reaches middle of the screen and scrollcontroller is not scrolling at all.
Please help me with a solution to this.

[2020-06-26 15:24] russellbecky opened #156 "SingleChildScrollView inside SlidingUpPanel not scrolling on iOS (works perfectly on Android)"
I am using a SlidingUpPanel with a panelBuilder that is filled with a SingleChildScroll View widget. I have a maximum extension of 80% of the screen - on Android when the SlidingUpPanel is fully extended, the content inside continues to scroll as expected. On iOS, the SlidingUpPanel extends to 80% but the content in the SingleChildScroll does not scroll any further.

As detailed in the explanation

[2020-06-27 10:54] allco opened #157 "Body size does not respect Software Keyboard."
**Describe the bug**
Body is not being resized when Software Keyboard appears.
Which leads to some negative affects such as If there is a TextField which is close to the bottom edge of the body and  Software Keyboard appears then the TextField is being covered by the keyboard.

**To Reproduce**
Tap a TextField in the app.

**Expected behavior**
The body is resized accordingly to available space an

[2020-06-27 11:17] russellbecky commented on #156
Figured it out - it doesn't work in iOS if parallaxEnabled = true. Setting it to false causes it to stop being able to scroll

[2020-06-27 11:17] #156 closed

[2020-06-28 06:32] imJithin777 commented on #145
Adding a Singlechildscrollview to the panel but it does not get scrolled....does anyone have a solution for this.

[2020-07-01 11:34] lukepighetti opened #158 "[FR] add skrim"
Would be nice to add a `Colors.black54` skrim that fades in as it snaps to maxHeight, if you tap the skrim it animates closed. This would mimic modal bottom sheet behavior.

[2020-07-01 11:35] lukepighetti opened #159 "[FR] expose transition to builder"
It would be nice if we could get the transition from the builder. Use case is so that you can build your own animations based on the position between minHeight and maxHeight. You already use this for opacity of the `collapsed` widget but we have no way to use it ourselves.

[2020-07-01 11:37] lukepighetti opened #160 "[FR] easy way to set maxHeight to available space with top padding"
It would be nice if we could set maxHeight to `99999` and then use the margin property to give us a little margin at the top.

[2020-07-01 11:39] lukepighetti commented on #158
Scrim is available with `backdropEnabled: true`

[2020-07-01 11:39] #158 closed

[2020-07-01 12:03] lukepighetti opened #161 "Breaks debug painting"
When I use `sliding_up_panel` it breaks debug painting, always has a gray semi-transparent overlay.

<img width="https://user-images.githubusercontent.com/666539/86241660-50d42380-bb71-11ea-9018-f481503059d9.png">

[2020-07-01 14:45] lukepighetti opened #162 "[FR] add PanelController.dispose() method"
It looks like PanelController doesn't have a dispose method, is this intentional?

[2020-07-01 21:51] truthmast commented on #157
To produce the parallax effect, line 260 in `panel.dart` wraps the body in a `Positioned` widget.
[code]

Removing the `Positioned` widget allows the panel body to properly resize with the soft keyboard. There would need to be another solution for the parallax effect though.

[2020-07-02 16:18] truthmast commented on #157
Seemingly related issues:
#147
#138

[2020-07-03 12:31] paricleu opened #164 "[FR] Animate .hide() & .show() like .open() & .close()"
Right now the hide and show methods aren't animated. It would be nice to be able to hide the panel completely to highlight the widget behind the panel.

[2020-07-07 08:06] chounry commented on #157
This package handle that. [Sliding panel](https://pub.dev/packages/sliding_panel)

[2020-07-07 08:09] chounry commented on #61
Did u take a look on flutter BottomSheet.?

[2020-07-07 15:43] timbrueckner commented on #61
I will give it a try. Thanks for mentioning.

[2020-07-10 09:06] kkizlaitis commented on #164
Yes, this would be a highly appreciated feature! :) Right now, when you call `hide()`, the panel animates to the `minHeight` and then disappears instantly. It should animate to zero height instead.

[2020-07-12 09:36] ghenry opened #165 "Protecting background visibility"
Hi all,

Not a bug, but a question. I've been trying different ways on different screen resolutions to protect my Dial button. On low res ones it's like this. Any tips? These are using GetX and:
[code]
Feel free to point me to SO for this, but thought you guys were best to ask. I was looking to use `SafeArea` for the `minHeight`, but can't make that work. What design patterns should I be looking a

[2020-07-13 06:43] Jparrgam commented on #146
@akshathjain i have this error, please help!

[2020-07-16 09:04] houdayec commented on #85
Hey, could you please share your code snippet to make this change? I know it's dirty but as maintainer does not update this package, it might be a good solution for me. Thanks!

[2020-07-16 09:40] asiamov commented on #85
Sure, in my PanelContent Widget I add a call like this in the build function:
[code]
I pass the GlobalKey from the main widget:
`  GlobalKey _containerKey = GlobalKey();
`

The SlidingUpPanel then listens for the Provider change and sets
`maxHeight
`

I additionally animated the height change:
[code]

[2020-07-16 12:05] houdayec commented on #85
Thanks mate, it helped me! At first, using a provider was a bad approach to me, but couldn't find any other solution.. however it's working pretty well.

[2020-07-17 07:16] danielyoon opened #166 "Marker onTap shows SlidingUpPanel"
Anyone have a solution to having the marker onTap show sliding panel on google maps? Can't seem to get working. Have tried using Positioned and getting the 'PanelController must be attached to a SlidingUpPanel'. Any help would be appreciated!

[2020-07-17 09:35] andrej188 opened #167 "Is there any way I can keep the panel open until I get to the top of the listview"
Right so this is where I am stuck. I have a listview with items in the sliding panel, and when I scroll the listview the panel also moves down, is there anyway I can keep the panel open until I get to the end of the listview?

[2020-07-18 11:26] AndroidNils opened #168 "No accessibility support (Talkback), if backdropEnabled is true"
## Description
If backdropEnabled is true, all widgets behind the SlidingUpPanel can't be detected by a screen reader anymore. This is very cricitle, because the whole app (except the SlidingUpPanel widget)  can't be used with a screen reader. With this bug it's nearly impossible to get featured by Apple...

## Demo
<details>
<summary>backdropEnabled is true (no accessibility support ❌ )</summary>

[2020-07-18 11:27] AndroidNils commented on #42
I opened a new ticket with a demo + sample code in #168 👍

[2020-07-20 15:12] douglasd3 opened #169 "Change panel content size dynamically"
Hi, i want to emulate the behavior of DraggableScrollableSheet (witch does not have a snap behavior embedded). The problem is that when a set the maxHeight, the panel content will expand in order to fill the space, even if the panel is closed, . hiding content and making my List not able to scroll to bottom when the panel is closed (minHeight). Is there a way to dynamically change the content size

[2020-07-21 06:25] JulianBissekkou commented on #167
Did you set the `ScrollController` correctly?

[code]

[2020-07-21 14:43] konuleminova opened #171 "Slidingpanel appears when click to Textfield"
Hi,

When i click to Texfield ,Sliding panel appears on the top of the keyboard.

Please help me to solve this problem.I already added `resizeToAvoidBottomPadding: false ` to Scaffold, but it doesn't work.

<img width="331" alt="Screen Shot 2020-07-21 at 18 42 20" src="https://user-images.githubusercontent.com/24622616/88069000-f59abd00-cb81-11ea-8408-3e8728cf6b35.png">

[2020-07-23 08:00] andrej188 commented on #167
This fixed it, thank you so much! @JulianBissekkou

[2020-07-23 08:01] #167 closed

[2020-07-25 09:48] furkankurt commented on #157
It's not worked.

[2020-07-26 17:39] AndroidNils commented on #161
Maybe this is related to #168. Same issue with `backdropEnabled == false`?

[2020-07-28 13:01] SayaGames commented on #166
Same issue for me too

[2020-07-29 13:49] martyfuhry commented on #90
@artsemionov Thank you for your investigation! I was actually able to fix #68 with your modification to the Stack by adding `overflow: Overflow.visible`. I'll give it some testing on my end, then submit a PR. Just wanted to say thanks; if I hadn't stumbled upon your comment, I'd still be up fighting with this thing!

[2020-07-29 14:01] martyfuhry commented on #68
I tested and can confirm that adding `overflow: Overflow.visible` to the Stack fixes this bug for me using Google Maps. Thanks to @artsemionov for doing the dirty work of experimenting with this! I'll submit a PR to fix this.

[2020-07-30 08:02] danielyoon commented on #166
I use BLoC for my state management.

Kind of got a solution working where onTap I would use showModalBottomSheet and within that function, return DraggableScrollableSheet.

[2020-08-02 09:18] vh13294 commented on #145
But the body will still be draggable, I only need header to be draggable.

[2020-08-02 09:43] ghenry commented on #85
What does this look like? Any chance of a gif?

[2020-08-02 19:37] houdayec commented on #85
You have the same sliding sheet as in the examples or reade.me, but the height is simply adapted to the content.

[2020-08-04 00:49] omidraha commented on #171
I have the same issue,
I think this can be solved by adding a listener to keyboard, and call `panelController.hide()` while keyboard is visible.

[2020-08-04 00:55] omidraha commented on #126
I have the same issue,
I would like the `SlidingUpPanel` be hidden by default and when user click a button, then open it.
I try:
[code]
But it's not worked.

[2020-08-04 01:46] omidraha commented on #100
Is it implemented?

[2020-08-04 12:37] yacineblr commented on #169
Hi, did you find a solution? 🙏

[2020-08-04 17:04] hetkpatel opened #175 "panelSnapping is false when parallax is enabled"
I have `panelSnapping` enabled but after adding `parallaxEnabled: true, parallaxOffset: .5`, it doesn't snap to the open or closed states.

[2020-08-04 18:03] omidraha commented on #82
Exactly I have same issue.

[2020-08-05 03:20] dlpigpen opened #176 "Is there any way to set color of collapsed panel?"
I would update the background color of the collapsed panel. It is necessary if the child collapsed is a circle or rounded shape.
<img width="406" alt="Screen Shot 2020-08-05 at 10 19 44" src="https://user-images.githubusercontent.com/5404685/89368245-3ad3f880-d705-11ea-968b-0f450c2ef8a5.png">

[2020-08-06 22:48] GioPan04 opened #177 "Add addListener on controller (like ScrollController)"
**Describe the bug**
There is no addListener method on controller, so is pratically impossible to get a corrected updated value of panelPosition.

**Expected behavior**
A method called every time the SlidingUpPanel changes his position.
The code maybe can be like be this:
[code]

**Smartphone**
 - Device: iPhone 8
 - OS: iOS 14
 - Flutter Version 1.20.0
 - sliding_up_panel Version ^1.0.2

[2020-08-12 07:08] fish-like-mammal opened #178 "Space area appear at the top of sliding up panel when extendBodyBeheindAppBar is set to true"
Hi. I am trying to set up a page with a background image, a transparent appbar on top of it and a sliding up panel in my app.
However, when I set extendBodyBehindAppBar to true in the parental Scaffold Widget, there appears a space area at the top of the sliding up panel.
My code:
`class Example extends StatelessWidget {`
`@override`
`  Widget build(BuildContext context) {`
`    return Scaffold(`

[2020-08-12 07:31] #178 closed

[2020-08-12 07:32] fish-like-mammal commented on #178
I temporarily solved this by putting the appbar into the scaffold body wrapped with a Stack widget, yet if anyone still feel concerned about the space area appeared when extendBodyBehindAppBar is set true and appBar in Scaffold is not null this issue is for you.

[2020-08-16 08:22] sidrao2006 opened #179 "ScrollController is not disposed"
Recently I was going through this package's code to understand how it works and I found out that the ScrollController is not being disposed off properly.

[2020-08-17 08:25] Flucadetena commented on #126
If you added it on the next release that would be awesome!!, really need thank functionality.

By the way, super cool and handy plugin. Great Job man!

[2020-08-19 08:56] BianXiaoYan opened #180 "About isPanelOpen's inaccurate judgment bug"
The judgment condition of isPanelOpen is bool get _isPanelOpen => _ac.value == 1.0;
When I pull down the sliding panel, the rebounded ac.value may not be equal to 1.

![80831A6B-8A98-477e-BE7E-D8638CFF5984](https://user-images.githubusercontent.com/19401417/90614116-d2c0fe80-e23c-11ea-80ac-75f2b4bd6985.png)
@akshathjain @s0nerik

[2020-08-24 07:36] Gigahawk opened #181 "Using panelBuilder and header in a nested panel has odd behavior"
**Describe the bug**
The touch events on the header of a nested panel using a panelBuilder will get passed onto the parent panel.

**To Reproduce**
Steps to reproduce the behavior:
* See https://www.dartpad.dev/64c1a56cf9e4af1322c8ea305af3b2a6
* Expand the first panel
* Expand the second panel
* Touch events behave correctly if they're on top of the list view
* If the listview is scrolled to the t

[2020-08-24 08:06] Gigahawk commented on #181
I'm guessing this has something to do with the panelBuilder using a Listener which somehow doesn't properly consume the touch event when dragging the header, so it gets passed onto the panel below.

[2020-08-26 09:56] AliRezaBeitari commented on #178
Reopened again. I have the same issue! Is there any way to set `extendBodyBehindAppBar: true` in `Scaffold` without having that extra space on top of panel?

[2020-08-26 10:35] AliRezaBeitari opened #182 "`extendBodyBehindAppBar: true` in the AppBar causes an extra space at the top of the panel"
**Describe the bug**
When I set `extendBodyBehindAppBar: true` in the `Scaffold` with an `AppBar`, the panel get an extra space at the top of itself.

**To Reproduce**
Add an `AppBar` to the `Scaffold` and set attribute `extendBodyBehindAppBar: true` of `Scaffold`.

**Expected behavior**
The panel should not have that extra space.

**Screenshots**
![iOS](https://i.imgur.com/4Au1IeF.png "iOS")

**S

[2020-08-26 13:15] JulianBissekkou opened #183 "Desktop support"
It would be nice to have desktop support and to be able to scroll and move the sheet using the mouse.

[2020-08-26 22:55] Michael-Equi commented on #87
I have what sounds like the same if not a similar issue. I have found that removing the collapsed part of the sliding up panel fixes the problem for me.

[2020-08-29 12:55] Josephmaclean opened #186 "Buttons inside sliding panel do not work"
I have a gesture detector in my collapsed panel which fires a panelcontroller.open() method. Once this is fired, none of the buttons in the panel work. if I hot reload it with the panel open, the buttons in the panel works but once I fire a panecontroller.close() method, the rest of the buttons in the collapsed panel does not work.

But somehow everything works if there's no Flex(Column or Row) wi

[2020-09-01 04:20] claytonjacobs commented on #152
I'm having the same exact same issue. For some reason it's registering the taps behind the sliding panel, instead of the Inkwell.
But it looks like this issue doesn't discriminate because it occurs with pretty much anything with 'onTap' or 'onClick'.

[2020-09-01 06:53] JulianBissekkou commented on #183
A first draft was created by @stefanschaller, the repository was then transfered to @flschweiger
This merge requests adds mouse wheel support.
https://github.com/akshathjain/sliding_up_panel/pull/185

Would be nice, if you could take a look @akshathjain or @s0nerik
Thanks! ☺️

[2020-09-01 19:26] mhliebano opened #187 "Screenshot folder with 53MB"
**Describe the bug**
Your Folder screenshoot have a file gif with 40mb, please... is crazy!
My conection is very bad... and is very slow to install this package

[2020-09-01 22:01] justjew commented on #166
got the same problem.
`PanelController must be attached to a SlidingUpPanel `

[2020-09-03 09:42] fish-like-mammal opened #188 "Too much widget rebuild occurring when using PanelBuilder"
The PanelBuilder is rebuilding too often that it has affected the performance of the scrolling effect when the PanelBuilder's scroll controller is connected to its child widget.
You can reference this bug to #94, this can be seen as the duplicate of #94, I am opening this issue only because the bug in that issue seems not fixed, but the topic is already closed.

[2020-09-04 02:37] kingmaster772 opened #190 "Open panel programmatically with initialHeight"
I need these behavior:

1. initState() -> panel is close in this state (default)
2. Tap a button
3. Open the panel with initialHeight (e.g. 50% device height)
4. I can still snap the panel to minHeight 40% device height and maxHeight 70% device height
5. Fully slide down to close panel (instead of snapping to minHeight)

`SlidingUpPanel(
  panelSnapping: true,
  backdropEnabled: true,
  backdropTa

[2020-09-05 07:05] vh13294 opened #191 "Is this project abandoned?"
Can anyone suggest a good alternative?

[2020-09-06 09:43] Flucadetena opened #192 "Pass Context through the panelBuilder"
Hi, Love the Package. More than a bug is a request as it makes accessing the context complicated when using the `panelBuilder`.

For example if I want to access a Provider from inside the `panelBuilder` using `context.select<T, C>((value)=>null)` it will through and error as I'm accessing the `context.select` from outside the build method.

On top of that I believe is more consistent with other bu

[2020-09-10 13:21] #186 closed

[2020-09-13 09:06] MATTYGILO opened #193 "Flutter new update causes crash"
**Describe the bug**
./../flutter/.pub-cache/hosted/pub.dartlang.org/sliding_up_panel-1.0.2/lib/src/panel.dart:218:44: Error: Too few positional arguments: 1 required, 0 given.
      VelocityTracker _vt = new VelocityTracker();
                                               ^
    ../../flutter/packages/flutter/lib/src/gestures/velocity_tracker.dart:152:3: Context: Found this candidate, but the arg

[2020-09-13 16:07] lzhuor commented on #153
I could reproduce this issue.

[2020-09-15 05:21] hewa-jalal opened #196 "body out of panel!"
i am having a very weird problem with the panel and that's the body is being displayed outside, like this
![off5ZZIl1n](https://user-images.githubusercontent.com/52101936/93168664-1b7cb200-f72c-11ea-9a37-949db8708d73.png)
here is the code

where I use the panel:
[code]
and the body code:
[code]
BottomSheetTile
[code]

[2020-09-16 09:49] gianalmada commented on #193
can anyone fix this issue, i cant run my app after upgrading flutter

[2020-09-16 22:45] Adem68 commented on #193
If you want to solve this issue, you can import dependency via git. Look to below code 👇

[code]

@josh-burton thanks for fix.

[2020-09-17 14:34] rutaba1 opened #197 "Open/ Close panel with curves"
Is it possible that when we drag the panel up or down, ice can set some sort of animation curves when the panel reaches to maximum or minus height?

[2020-09-19 14:58] dcchristopher opened #198 "Compilation error against dev flutter channel (gestures -> VelocityTracker)"
**Describe the bug**
The invocation of Flutter gestures library code (VelocityTracker) from within sliding_up_panel is causing a compilation error due to a breaking change (dev channel for now).

**To Reproduce**
Switch to the dev Flutter channel and `flutter build`

**Expected behavior**
I expect the compilation to succeed.

**Screenshots**
N/A

**Additional context**
Compilation error message:
.

[2020-09-19 15:00] dcchristopher commented on #198
I'd like to note that this is more of a heads up for folks regarding a potential issue with an upcoming release of Flutter. If this dev code is merged into stable, sliding_up_panel will likely cease to work unless a fix is introduced. I realize this isn't an issue with sliding_up_panel with the current stable channel of Flutter.

[2020-09-19 15:25] akshathjain commented on #198
I think the current version of Flutter might already be causing issues. Closing this issue and moving the discussion over to #193.

[2020-09-19 15:25] #198 closed

[2020-09-19 15:25] akshathjain commented on #193
Investigating, will merge #195 in the next day or two.

[2020-09-19 15:26] akshathjain commented on #191
This project isn't abandoned, just been a bit busy lately :)

[2020-09-19 15:26] #191 closed

[2020-09-19 15:27] akshathjain commented on #180
This is an interesting edge case, I'll update isPanelOpen to include a small epsilon value to account for floating point error.

[2020-09-19 15:55] dcchristopher commented on #198
Gotcha, I’m so sorry I didn’t see that one as a possibility of being related (runtime vs compile time). I should have checked the details.

[2020-09-20 19:43] federicodesia commented on #31
This only works for collapsing the panel when pressing the back button.

But `WillPopScope` is preventing closing the application when the panel is not open.

Any solution for this?

[2020-09-21 10:31] gowtham-xseed commented on #190
+1

[2020-09-21 10:32] gowtham-xseed commented on #136
+1

[2020-09-21 16:27] Hem1700 commented on #193
Has it been merged yet because I am still facing the same error

[2020-09-21 20:09] federicodesia opened #199 "This issue was created by mistake, admin please delete it"
I can't delete it

[2020-09-21 21:44] juanjoseleca commented on #193
i have the same issue, pls fix this

[2020-09-23 11:11] yocyocdearwolves opened #201 "Buttons inside the collapsed panel is not working at some time."
I have noticed that when the widget rebuilds and the panel is open the buttons inside the collapsed panel will not work anymore. Everything works fine until you use rebuilding methods like setState or you navigate to a new screen when the panel is open.

[2020-09-23 14:35] omidraha commented on #193
Please merge.

[2020-09-24 02:06] manafire commented on #190
https://github.com/akshathjain/sliding_up_panel/pull/143 takes care of this.  I ended up cloning a copy of the code down locally and referencing that from my pubspec to incorporate this, along with some other fixes and improvements as it's been awhile since it's received an official update.

[2020-09-24 02:24] manafire commented on #51
This is addressed in https://github.com/akshathjain/sliding_up_panel/pull/92; by wrapping the Stack in a LayoutBuilder to detect constraints instead of a full-screen sized Container (which will push contents off screen and off-center when you have an AppBar).  See:
 https://github.com/akshathjain/sliding_up_panel/pull/92/commits/278eab76e59cf00974f135497c4b7fdf979258fc#diff-e387f0fe190e38b320a2a7c

[2020-09-24 13:44] RedEagle07 opened #202 "Is there a way to make the Slideup expand and then the list inside panel builder scroll?"
Im trying to create the same scrolling physics achieved in any draggable widget, to expand first then scroll without having to remove my finger from screen and start a new scroll

[2020-09-30 01:35] devomar615 opened #203 "PanelController must be attached to a SlidingUpPanel"
**Describe the bug**
in my app I am trying to open/close the panel manually by pressing the header of the panel or any button in the body()
but I found this error"

**Log Message**
The following assertion was thrown while handling a gesture:
PanelController must be attached to a SlidingUpPanel
'package:sliding_up_panel/src/panel.dart':
Failed assertion: line 629 pos 12: 'isAttached'

When the exce

[2020-09-30 12:37] devomar615 commented on #203
I have fixed this by initializing the PanelController out of the build widget and declare it as final

ex:   final PanelController _pc = PanelController();

[2020-09-30 12:37] #203 closed

[2020-10-04 23:55] federicodesia commented on #199
@akshathjain please delete it

[2020-10-06 20:01] ervindobri commented on #177
I second this.
Is there a workaround to get the panel position somehow?

[2020-10-06 20:37] manafire commented on #177
onPanelSlide?

[2020-10-07 06:29] adbelikov commented on #196
A similar problem.
The floor panel is a MAPBOX card.
The map considers its vertical size to be larger than the screen size of the device. You can see that the center of the map, marked in red, is shifted down.

In the second picture, the same map, in the same container, but without sliding_up_panel. The center is located correctly.
![SmartSelect_20201006-143045](https://user-images.githubuserconte

[2020-10-07 12:04] hiwa-jalal commented on #196
hey @adbelikov, for now, i just used the `panel` as for the body widget and used `collapsed` for the header and it works fine.

[2020-10-08 06:23] ervindobri commented on #177
When I add onPanelSlide it rarely gets any touch input / I can't slide it down or up so responsively.

[2020-10-11 13:32] tneotia commented on #127
I was having the same issue, there's a weird hack I used to solve it. Inside panelBuilder do this:
[code]
Inside the column put whatever you want, like text field near the bottom or whatever. Then inside your scaffold declaration put these two lines:
[code]
This may not work for everyone but in my use case (listview with scrollable elements and fixed textfield at the bottom) it worked.

[2020-10-12 01:56] brianschardt commented on #76
I get this same issue.

@akshathjain when i go back using navigator.pop and then I try and open up the pannel I get this error:
[code]

[2020-10-12 01:58] brianschardt opened #205 "Navigator.pop Animation Controller used after calling disposed."
Everything works until i go back using Navigator.pop

Then I get this error:
[code]

[2020-10-12 04:25] brianschardt commented on #132
This should be on the documentation as this will help a lot of people.

[2020-10-12 14:06] ben55j opened #206 "Scale down the Body as the Panel Opens"
Hello,

I am looking to make a scale effect of the body as the panel moves (see attached screen example)
It is possible to implement it with this package? I did not find any tutorial/package to do it.

Any advises will be welcome.
Many thanks.

![IMG_5DFE6ECD1FD7-1](https://user-images.githubusercontent.com/7754473/95754294-1c5d2100-0ca3-11eb-945f-57d1335da63f.jpeg)

[2020-10-14 21:56] qbait commented on #65
I use `GestureDetector` for that.

[2020-10-19 09:59] miguelpruivo opened #207 "Not being able from grab the panel from top when using full screen height"
**Describe the bug**
When the panel is fully opened (using max screen height) it's impossible to grab it from the top (gestures seem disabled on the top area, close to the status bar).

**To Reproduce**
Steps to reproduce the behavior:
Create a panel with full height opened.

**Expected behavior**
Being able to pick it from top.

**Screenshots**
NA

**Additional context**
NA

**Smartphone (please

[2020-10-19 10:04] #207 closed

[2020-10-19 17:31] mrruby opened #208 "defaultPanelState = PanelState.HIDE?"
Can you add a PanelState.HIDE?

[2020-10-23 21:38] ruehl commented on #196
I have the same problem as mentioned by @adbelikov. As soon as I use the SlidingUpPanel widget in my scaffold (as outlined in the guide), the center of the body widget seems to be shifted downwards.

I checked with the source code and found out that the body widget (if specified) is put into a Container widget, whose height is derived from the screen height per MediaQuery. This is fine as long as

[2020-10-29 04:04] mikechoch opened #209 "Swiping fast from fully open (max height) will skip the snap point"
**Describe the bug**
When swiping from open with a FAST velocity, the snap point is skipped and the panel is fully hidden. Now if I do a somewhat quick down to slow velocity it will go to snap point. However, I think there should be a setting to control stopping at snap point no matter what first.

**To Reproduce**
1. Set a snap point on panel
2. Swipe panel to max height or fully open
3. Swipe ve

[2020-10-30 15:38] agentz34 commented on #98
Still running into this issue using the latest version. Any updates? Thanks for your work on this package, @akshathjain!

[2020-11-03 01:38] json469 commented on #152
+1

Only way around this is to wrap Material around the onPress-able widget, however if there are custom colors involved (which is most likely) there are additional work on styling.

For example, all my ButtonIcon and Buttons did not cause the 'ripple effect' so had to wrap it around a ClipRRect (for borderRadius) and Material, then followed by actual child Widget:

[code]

[2020-11-11 14:31] RomanJos commented on #41
Hello, do you think you can explain a bit more on this ? I'm in the same situation.

[2020-11-13 21:18] rogeriocbrito commented on #208
I also need that!

[2020-11-22 13:15] nt4f04uNd commented on #128
<strike>Looks like a tracked flutter issue https://github.com/flutter/flutter/issues/28115</strike>
They are just similar

[2020-11-25 16:58] ncuillery commented on #196
Same issue here, in addition to the AppBar, I have a BottomNavigationBar that makes things worse (the center is shifted down because of the AppBar AND the bottom of the map is hidden by the BottomNavigationBar)

[2020-11-25 19:33] ncuillery commented on #196
#92 should help, right?

In the meantime, as a workaround, I have removed the body and wrapped the SlidingUpPanel in a Stack with the former body below.

### Before
[code]

### After
[code]

[2020-11-27 13:22] Shewebi commented on #196
My workaround is to keep the SlidingUpPanel and wrapping it with a MediaQuery.

So you go from this:

[code]

To this:
[code]

[2020-12-01 10:17] ufukhawk commented on #205
same

[2020-12-06 06:00] DrEngi commented on #98
Is there any update on this?

[2020-12-06 06:55] dizang2 opened #211 "Request for slideDirection of LEFT and RIGHT"

[2020-12-06 21:33] mzafer commented on #157
Same problem here, any work around for this ?

[2020-12-08 09:25] MisterioRee commented on #201
So I just face the same issue:
I am using **GetX** for state management, i couldn't use `setState(){}`  for no reason.

[code]

ChangeNotifierProvider

You can find `onPanelOpened`  where you need to re-render the screen again either you are using **Provider**.
You just need to call update() of **GetX** OR update() OR SetState(){}.

[2020-12-08 09:26] MisterioRee commented on #201
So I just face the same issue:
I am using GetX for state management, i couldn't use setState(){} for no reason.

GetBuilder<ControllerName>(
 builder: (_) => SlidingUpPanel(
 onPanelOpened: (){
   /// Re-render elements for no reason :P
   _.refreshPage();
  }
 ),
...
)
ChangeNotifierProvider

You can find onPanelOpened where you need to re-render the screen again either you are using Provider.
Yo

[2020-12-08 10:58] techpool commented on #208
+1

[2020-12-17 12:54] birakdar commented on #157
You can add footer widget
SlidingUpPanel(
 footer: Widget()
)

You will solve the problem

[2020-12-23 16:01] arubin18 opened #212 "Gesture detectors in the panel stop working when putting the app in background and then back into the foreground"
**Describe the bug**
I am currently using the sliding up panel to display a panel in addition to a map screen. When putting the app in the background, going to another app, then returning to the app, the gesture detectors inside the panel stopped working but the panel was still able to slide up and down. A hacky solution that I implemented was to close the panel using a panel controller when the a

[2020-12-26 05:23] chanindev commented on #202
I am having the same issue. anyone please help.

[2020-12-26 22:59] Hasankanso opened #213 "SingleChildScrollView doesn't work inside of panel widget"
Hello,

I just used SingleChildScrollView as a value of panel attribute, and I got bad behaviour, just to mention, SingleChildScrollView does not take scrollController as parameter, therefor I'm not sure if it's usable in panelBuilder,

any suggestions? I don't have a list, just some textfields I want to display.

[2021-01-01 07:58] chanindev commented on #212
I am having the same issue! please someone help.

[2021-01-01 13:07] philippearmel commented on #136
I have a similar issue. As work around, this is what I did in the initState

`@override
  void initState() {
    super.initState();

    Future.delayed(Duration(milliseconds: 0), () {
      _panelController.animatePanelToPosition(0.4);
    });
  }`

[2021-01-03 16:59] #213 closed

[2021-01-06 11:29] rienkkk opened #214 "Hide panel when collapsed"
I have a panel and a collapsed widget. When the panel goes to the collapsed state I would like to hide the content of the panel. Right now the panel content shows behind the collapsed widget. Does someone know how to do this?

[2021-01-08 13:45] huxaiphaer commented on #157
Any luck with this issue guys ?

[2021-01-08 13:51] huxaiphaer commented on #74
I added `resizeToAvoidBottomInset: false,` but it's not working. 😢

[2021-01-08 14:27] huxaiphaer commented on #157
Did you get the solution @allco , I am stuck also.

Thanks

[2021-01-08 20:14] ben-xx commented on #157
Hey @huxaiphaer and others,

just posted a [potential solution on Stack](https://stackoverflow.com/a/65635757/2301224).

[2021-01-08 21:02] huxaiphaer commented on #157
Thanks a bunch @ben-xx , this works like charm 😎

[2021-01-12 21:32] artsemionov commented on #90
@martyfuhry You're welcome!
Nice to know that I've been helpful.

[2021-01-15 21:18] zakton5 opened #215 "When slide direction is down, list view inside panel does not scroll"
**Describe the bug**
See title.

**To Reproduce**
Use the code below. Set `slideDirection` to `SlideDirection.DOWN`. User `panelBuilder` to create a list.

**Expected behavior**
I expect to be able to scroll my list down in the panel

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

**Sample `main.da

[2021-01-17 06:45] harrisonturton opened #216 "[Feature Request] onBackdropTap handler"
**Describe the bug**

When I using `panelBuilder` and linking the scroll controller with a `ListView`, I want to be able to minimise the panel *and* reset the list's scroll position when the panel is closed.

I can do this with a button, using `scrollController.jumpTo(0)` and `panelController.animateTo()`, but I cannot figure out how to make this happen when the backdrop is used to close the panel

[2021-01-17 06:47] harrisonturton commented on #216
I just realised there is a pull request for this already! [Here is the PR](https://github.com/akshathjain/sliding_up_panel/pull/113)

Would be very awesome if that was merged.

[2021-01-22 12:09] dimysa commented on #212
This issue is the same as https://github.com/flutter/flutter/issues/69729 and I think this is not a problem with this package.
It's not repeated on the latest beta or on the dev channel (you can use it as workaround).

[2021-01-25 12:30] Jacko120 commented on #182
Came with the same issue and I figured a way to fix this.  I wrapped the SlidingUpPanel with MediaQuery.removePadding and removeTop: true.

`MediaQuery.removePadding(
                    context: context,
                    removeTop: true,
                    child: SlidingUpPanel(options)
                  )`

[2021-01-28 02:35] KarlChow92 opened #218 "Make panel content not scrollable"
Hey, I face a situation where I want the panel content not to be scrollable.
My SlidingUpPanel looks like this:

[code]

`_panel(context)` is simply returning a container with some text with a fixed height.

Is there any way to achieve this? The text inside the container is still scrollable.

[2021-01-28 02:36] #218 closed

[2021-01-28 02:36] KarlChow92 commented on #218
Never mind! I gave a fixed height to my container. By removing that it fixed the issue!

[2021-02-01 10:21] Mayb3Nots commented on #208
Have added hopefully the author will accept #219

[2021-02-01 13:18] Mayb3Nots commented on #126
I have added it here #219
While it's not yet merged you may use it by stating in your pubspec.yaml

**UPDATE**
The PR has been moved to #251
[code]

[2021-02-01 13:23] Mayb3Nots commented on #77
I dont think this issue has been address. I current cant dismiss the collapsed panel.

[2021-02-01 19:05] ccastroelo commented on #87
I didn't understand your solution very well, could you explain it better?

thx.

[2021-02-01 19:11] ccastroelo commented on #201
Thanks, this solved my problem.

[2021-02-01 19:12] ccastroelo commented on #87
This solved my problem. #201

[2021-02-03 10:59] futurelucas4502 commented on #145
@nhtlquan hi there how did you get the header of the panel to center and change shape as I've been trying and can't seem to figure it out

[2021-02-03 19:26] #199 closed

[2021-02-04 10:17] welfvh opened #220 "Content flows over rounded top corners"
**Describe the bug**
Listcontent is shown outside of the rounded corners.

**To Reproduce**
Add a rounded corner (24px) to the top of your slidinguppanel. Add a header with rounded (24px) corners. Add a Listview with content that has less than 24px padding. Scroll down in the listview and see the content visible in these corners.

**Expected behavior**
Not seeing content, having it wrapped by the

[2021-02-05 00:04] SogoGolf opened #221 "[feature request] slide panel from anywhere (eg. top, left, right)"
I know this is specifically a sliding UP panel - but is it feasible to enhance it to be able to, for example, slide it DOWN from a given screen location ? Or put it on left side of the screen and be able to slide it left-to-right to open? Etc..

[2021-02-11 16:06] davedbase opened #222 "Question: do we have the ability to keep the collapsed state visible?"
Hi there, I have a unique situation  where I'd like to keep the collapsed portion of the panel visible no matter the state. Currently it fades out on expansion, I was wondering if this was currently possible or if you can suggest a method to accomplish it?

[2021-02-14 15:42] #222 closed

[2021-02-17 10:17] renoinn commented on #196
@Shewebi work fine for me! thank you :)

[2021-02-21 03:23] kar1981 commented on #164
Yes this is really needed at least as an option to animate it. I have a use case where I call .hide() from a button to dismiss the panel in collapsed state and now it abruptly disappears instead of animating sliding down. I could have use the snap point feature but there is no way to lockout the sliding when the panel is at snap point.

In google maps the behaviour is demonstrated by:
1. Select a

[2021-02-25 11:00] diegonuja commented on #221
Hello, if i'm not mistaken you can already make it slide from the top of the screen using the `slideDirection` property

[2021-03-01 13:37] peterscodee opened #223 "[Feature request] Null safety"
This is a request to add support for null safety to this package.
See the [migration guide](https://dart.dev/null-safety/migration-guide) for details about enabling null safety.

[2021-03-01 17:42] mrxten opened #224 "Allow close panel made thru panelBuilder from out of scroll"
**Describe the bug**
If I created panel via panelBuilder and use not only scrollview then drag doesnt work.

**Screenshots**
<img width="372" alt="Screenshot 2021-03-01 at 20 36 20" src="https://user-images.githubusercontent.com/13070572/109535928-2ce52b00-7ace-11eb-9c18-0d09908932ae.png">

You can see at screenshot is there container out of CustomScrollView, I think right behaviour will be if isD

[2021-03-01 17:44] mrxten commented on #224
I recorded a video, you can see when I some scrolled I cannot drag panel to close.

https://user-images.githubusercontent.com/13070572/109536432-c4e31480-7ace-11eb-84a8-e39b31b759f0.mov

[2021-03-03 18:15] 0aps commented on #96
I can confirm this is still a problem on the latest version. (1.0.2)

[2021-03-04 07:30] intkhabahmed opened #225 "Require an initial height parameter to be exposed"
Feature: There should be an initialHeight parameter so that we can slide the panel up and down from that position. We have a usecase where it is required, but right now it is not there. Tried doing some hacks but not working as expected

[2021-03-04 07:30] sdas19 opened #226 "Can you add an optional parameter as position to PanelState.OPEN, or add another state PanelState.PARTIALLY_OPEN({int position})?"
The requirement is user should be able to see `sliding_panel` opened by default, not to maxHeight but to a specific position. However, later on, the user can drag the panel within maxHeight and minHeight.

Tried several ways to accomplish this,

1. Initially kept `defaultPanelState` as CLOSED and tried overriding `onPanelClosed` to change the panel position by the controller with one time check, h

[2021-03-04 11:12] Abel-VS commented on #203
Another cause of this error can be usage of the PanelController outside of the widget in which you attach the PanelController to the Panel.
This can be fixed by adding:
_pc.isAttached ? [ your code with _pc ] : [ some code not utilizing _pc ( e.g. Container() ) ]

[2021-03-04 19:15] Vofchuk commented on #223
This is a really big and heavy used package, does anyone knows when will it be null safe?

[2021-03-05 05:16] mtan11 commented on #224
I have the same issue. Any suggest for this issue?

[2021-03-05 11:07] crtl opened #227 "[Feature Request] Add ChangeNotifier or Streams to be able to react to state changes"
Thank you very much for the library it is a great help.
Nonetheless its missing a `ChangeNotfier` or some other API to be able to listen to `PanelController` changes.

Currently the only way to do this is using `onPanelOpened` and `onPanelClosed` callbacks and manually manage its state by using a stream or setState:

[code]

It would be easiert to do this over the controller so you have everyting

[2021-03-05 15:59] JaffaKetchup commented on #96
Hi,
I have this issue as well.
Thanks.

[2021-03-05 16:33] nehal076 commented on #223
+1
Please add null safety

[2021-03-06 20:01] sabetAI opened #228 "Collapsed widget still blocks touch events for panel with AppBar"
**Describe the bug**
If `collapsed` widget for `SlidingUpPanel` is an `AppBar` with pressable buttons, the collapsed `AppBar` buttons still trigger when `onPressed` instead of the raised `AppBar` buttons. I think wrapping the collapsed widget with `IgnorePointer` on slide up doesn't seem to be propagating to its buttons for some reason, at least in this case.

**To Reproduce**
1. Run example code.

[2021-03-06 20:21] sabetAI commented on #228
`IgnorePointer` works when wrapped around an `AppBar` stacked on another `AppBar` ([gist](https://gist.github.com/sabetAI/24786735b34f4090992ccbe0d8ceb7ac)), so not sure what the problem is.

[2021-03-07 11:47] JaffaKetchup opened #229 "Help needed: Changing contents of panel after onPanelClosed not working."
Hello all,
I have a simple idea in my head: the panel can have two states, and swap between each by closing the panel, which then pops back open automatically.

Currently I have this code inside my `SlidingUpPanel` (abbreviated, only relevant code included):
[code]
, and I set the panel to be open using initialHeight from a fork on this repo. The same effect can be achieved by using the following

[2021-03-08 10:12] JRakhimov commented on #85
@asiamov Hi, can you please show some full working example? I did not understand where exactly the codes above are used. Thanks in advance

[2021-03-08 12:07] JRakhimov commented on #85
@houdayec

[2021-03-09 20:16] skvasov commented on #212
Same issue for me. Guys, did you manage to fix it?

[2021-03-10 08:26] magnuswikhog opened #231 "Can't scroll to bottom if maxHeight > available height"
**Describe the bug**
I have a SlidingUpPanel containing a SingleChildScrollView, using panelBuilder and its provided scrollcontroller. I noticed that I can't scroll to the bottom of the contents if I set maxHeight of the panel to anything bigger than the available height (i.e. typically the screen height - AppBar height).

**To Reproduce**
[code]

**Expected behavior**
To be able to scroll down to

[2021-03-12 15:45] harlanx commented on #202
If anyone is still looking for answer. What you need to do is to check the status of the panel.
bool isPanelOpen = slidePanelController.panelPosition.round() == 1

Then in your scrollable widget inside the panel builder
set the physics to isPanelOpen ? AlwaysScrollableScrollPhysics() : NeverScrollableScrollPhysics();

[2021-03-14 23:51] alestiago opened #232 "Clipping Widgets when SlidingUpPanel not fully expanded"
**Describe the bug**
I am not sure if this is a bug. Consider this as a question instead of a bug initially.

The idea is to show a `Container` or any other `Widget` a little bit shifted from the panel. Illustration 1 shows this behaviour (see below in "Screenshots" section of the issue).

However, when I try to do so by using a `Stack` and `Positioned` widget the behaviour is somewhat unexpected.

[2021-03-15 00:08] alestiago commented on #214
I a currently also looking into this user seems to have done something similar #224 .

[2021-03-15 00:13] alestiago commented on #214
It seems that if you set `minHeight` to `0`, it will do the job. It is not the most elegant solution, but it is something.

[2021-03-17 07:48] ervindobri commented on #223
+1 This is a very heavy package, project depending on it. Please add null safety support

[2021-03-23 06:30] ChuanVoyager opened #233 "How to panel in center"
I new flutter . I use lib https://pub.dev/packages/sliding_up_panel in my layout

When I drag and drop panel from the middle to the top -> panel will scroll to top , from the middle to the bottom -> panel will scroll panel to bottom.

Can I keep the panel in the middle when drag and drop it in the center? like this :
https://media.giphy.com/media/151brg1VCvrTTMPheB/giphy.gif

[2021-03-24 03:57] bohrasankalp commented on #223
+1

[2021-03-24 18:03] MasiaVittorio commented on #202
@harlanx using AlwaysScrollableScrollPhysics() isn't doing it for me. Would you provide some sample code to show how your solution works?

I also need the CustomScrollView in my panel to start scrolling right away instead of releasing the finger and starting to scroll again

[2021-03-28 10:33] VinayakKapur commented on #223
+1

[2021-03-28 12:26] ffamar commented on #223
+1

[2021-03-28 14:01] mrinaljain commented on #223
+1

[2021-03-28 18:09] RandalSchwartz commented on #223
Do you want any help with this? Do you already have a branch started for null-safety that I can add to?

[2021-03-29 06:06] akshathjain commented on #223
Hey all, I've merged #230 into the `dev/null-safety` branch. I'll keep it there for a little while to iron out any bugs that may exist, then I'll push the changes to pub.

[2021-03-29 06:06] #223 closed

[2021-03-29 12:33] harlanx commented on #202
My bad, I misunderstood the question. My solution I mentioned only prevents the scrollable child widget from having the priority of being scrolled up first.

I am already planning on migrating my project to use a similar package (snapping_sheet or expandable_bottom_sheet) which you may also want to look into because the sliding_up_panel package is no longer maintained by the author.

[2021-03-30 09:26] astronaako opened #234 "Hot reload causes controller attached = false"
When using controller with SlidingUpPanel in StatelessWidget Page, Hot reload causes isAttached Property to return false. Full app restart or Flutter Hot Restart gets it back to working however

[2021-04-04 03:12] willbryant commented on #234
Make sure you're initializing the controller outside of the widget build so that it persists. Paste your code if you're still having trouble.

[2021-04-05 02:27] darmawan01 commented on #223
wait for it in pub. thanks guys :pray:

[2021-04-05 10:51] yanivshaked opened #237 "Null safety support"
How soon can we expect a version which supports null safety?

Thanks

[2021-04-06 17:55] shinewanna opened #238 "Can't make pannel background to transparent"
I wanna make pannel background to transparent, but itself having default white background color.

[2021-04-07 11:35] yanivshaked commented on #237
@akshathjain I will be happy to get an estimation....
Thanks!

[2021-04-07 11:46] VanTy207 commented on #98
Hi!
We need this update, too.

[2021-04-07 12:19] peterscodee commented on #237
See https://github.com/akshathjain/sliding_up_panel/issues/223

[2021-04-08 18:40] LukeStanyer commented on #234
Same Issue

[code]

[2021-04-08 21:53] fxjordan commented on #234
I had the same problem. Build a `StatefulWidget` wrapper around your`SlidingUpPanel` and declare the controller as state.

[2021-04-08 22:12] fxjordan commented on #61
I think wrapping the panel in a `LayoutBuilder` works.

[code]

[2021-04-12 08:12] MarcusWichelmann opened #239 "ListView inside SlidingUpPanel cannot be scrolled using keyboard or programmatically"
**Describe the bug**
I have used `panelBuilder` to add a `ListView` to the panel as described in the [readme](https://github.com/akshathjain/sliding_up_panel#adding-scrollable-elements-to-the-sliding-panel). Because this is a TV app, I'm now trying to scroll this list only with the up/down keys of the keyboard. Normally, the `ListView` widget automatically ensures, that the focused item is always

[2021-04-18 05:49] HamiidrezaRamezani opened #240 "this package does not null safety"

[2021-04-19 12:51] manafire commented on #240
Duplicate.  See #223 and the `dev/null-safety` branch.

[2021-04-20 20:00] enricobenedos commented on #223
Hello @akshathjain,
to avoid people to open new issues about the null safety topic I advice you to pin this issue on order to find it more simply 😉

[2021-04-20 20:07] #240 closed

[2021-04-20 20:07] #237 closed

[2021-04-21 03:45] imchivaa commented on #61
I am closing this since I've moved away from this package. Unless the author responded with a proper way of doing thsi with this package.

[2021-04-21 03:45] #61 closed

[2021-04-22 19:42] ludwiktrammer commented on #223
@akshathjain When do you plan release a stable version with null safety support?

[2021-04-23 01:41] ziscloud commented on #186
@Josephmaclean did you fixed this problem?

[2021-04-23 11:12] wilk3ns commented on #223
+1

[2021-04-23 12:34] godwintrav opened #241 "Package does not work with latest version of flutter and dart"
**Describe the bug**
This package does not work with the new flutter sdk version and new dart sdk version

**To Reproduce**
Please make the package work with the new sdk versions

**Expected behavior**
I expect this package to be able to build and compile with the flutter latest sdk version without crashing the app

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Ad

[2021-04-23 13:34] akshathjain commented on #223
I'll try to release this over the weekend.

[2021-04-23 15:52] Vofchuk commented on #223
Let us know wen you update it

[2021-04-25 04:20] mrkevinomar commented on #223
Hello @akshathjain, any update?

[2021-04-26 06:46] MarcusWichelmann commented on #239
Does anyone have an idea? If something is unclear with my issue description, please let me know.

[2021-04-26 07:17] lt692 commented on #223
+1

[2021-04-26 09:37] ctedgar commented on #223
+1

[2021-04-26 18:18] ervindobri commented on #223
+1

[2021-04-27 02:57] akshathjain commented on #223
Hey all, v2.0.0 should be live on pub now with null safety support :)

Please feel free to create new issues if anything seems broken.

[2021-04-27 03:09] edytk commented on #223
thanks @akshathjain 🙏

[2021-04-27 03:20] akshathjain commented on #241
See #223

[2021-04-27 03:20] #241 closed

[2021-04-27 10:41] naamapps commented on #239
The package prevents the list view from scrolling when the panel is not expended and scrolled already.
I think it requires a change in the code for it to scroll programmatically before the user interaction with the panel.

[2021-04-27 13:05] RedEagle07 commented on #202
Is there any fix for that?

[2021-04-27 13:17] akshathjain commented on #202
If I understand your question correctly, you should try to use the panelBuilder with a listview inside. There's an example in the README with this.

[2021-04-27 15:45] hauketoenjes commented on #239
Hi, I just looked over the code and the problem is the use of `buildPanel(ScrollController sc)`. This `ScrollController` is not the one that is responsible for any `ListView` inside of the panel.

Nonetheless, in the code above the `ScrollController` of the panel is given to the `ListView` inside the panel. Hence, the `ListView` Widget does not automatically keep the focused item in view because i

[2021-04-28 07:23] #229 closed

[2021-04-28 08:13] MarcusWichelmann commented on #239
@hauketoenjes Thank you very much, this solved my issue and keyboard scrolling works fine now. Only the the touch input is a bit broken now because scrolling doesn't open the panel anymore. But this is easily fixable by opening the panel programmatically as soon as scrolling begins.

I'll leave this bug report open, because a fix that doesn't require breaking touch input would still be useful.

[2021-04-28 12:03] hauketoenjes commented on #239
@MarcusWichelmann Ok this particular problem can be solved for "only" keyboard scrolling like you said with my example above.

I looked a bit deeper in this package and the main problem is, that the `SlidingUpPanel` works in a way, that it automatically scrolls / jumps to the top of the `ScrollView` attached to the `ScrollController` given by `panelBuilder(ScrollController sc)`. This functionality

[2021-04-30 07:32] bakua opened #244 "NPE in ^2.0.0+1"
Hello, I got this NPE.

[code]

[2021-04-30 15:33] akshathjain commented on #244
Please attach the output of flutter doctor and a sample main.dart that reproduces the issue.

[2021-05-03 05:16] bakua commented on #244
Hello,

I don't know how to reproduce it myslef. I got this error reported by Crashlytics.

[code]

[2021-05-04 07:34] ShookLyngs commented on #201
I'm also facing the problem, when I opened the panel, sometimes buttons inside the panel cannot be tapped.
And when I closed the panel, buttons in `collapsed` widget, sometimes cannot tapped either.

Like you, I'm also using GetX for state management, but I don't understand, what did `_.refreshPage()` do?

[2021-05-04 08:48] ShookLyngs opened #245 "Click ExpandedPanel but triggers CollapsedPanel content"
**Describe the bug**

In `collapsed`, we have a `TextField`.
In `panel`, we have a `Text`.

When the panel is open, the content of `collapse` is hidden, but it's touchable.
We can just click where the TextField were, and the soft keyboard will pop in.
In this situation, if the content in `panel` is a `Button` instead of `Text`, the `Button` will be untouchable.

We can also trigger the same bug on

[2021-05-04 13:57] smakarov opened #246 "Can't use it above BottomNavigationBar"
Hi there!
Default Scaffold
`bottomNavigationBar: Column(
          mainAxisSize: MainAxisSize.min,
          children: [
            SlidingUpPanel(
              backdropEnabled: true,
              panel: Center(
                child: Text("This is the sliding Widget"),
              ),
            ),
            BottomNavigationBar(
              items: <BottomNavigationBarItem>[

[2021-05-04 18:06] smakarov opened #247 "Bug with Scrollable Elements in Sliding Pane"
I'm trying to use
1)Header which takes all collapsed space. I don't use "collapsed" property, because i don't want some fade transitions of this element, and want it to be static.
2)List in panel space with example from manual

Here is [project](https://yadi.sk/d/pg1iC0ROunVUkg) with simple code.
<details>
  <summary>Or just main.dart</summary>

[code]

</details>

When list wasn't scrolled, i can

[2021-05-05 17:50] cream-cheeze opened #248 "Body offsets down for the AppBar's height"
**Describe the bug**

When I use the panel with Scaffold and AppBar the panel's body position offsets down for the AppBar's height and it goes beyond the boundaries of the screen. If I set extendBodyBehindAppBar= true body position looks OK, but in this case an extra space appears at the top of the panel.

**To Reproduce**

See the code sample below.

The result with extendBodyBehindAppBar: false

[2021-05-05 19:56] cream-cheeze commented on #248
Solved myself by adding padding: const EdgeInsets.only(left: 0.0, top: 0.0, right: 0.0, bottom: 0.0) to the ListView.builder.

[2021-05-05 19:56] #248 closed, assigned to nobody

[2021-05-08 09:34] arafaysaleem commented on #226
You can use **animatePanelToPosition** method available on the panel controller.

`animatePanelToPosition(double value, {Duration duration, Curve curve = Curves.linear})`

Attach this to to a **postframe callback** so it gets called after the UI is built.

[code]

[2021-05-08 09:50] arafaysaleem commented on #188
Try the following approach. This workaround might not stop the rebuilds but caches the child and fixes the scroll jank. What worked was, to store the widget inside the builder in a variable and return that variable from the builder.

[code]

[2021-05-08 13:13] GrbavaCigla opened #249 "Body overlap question"
Hi,

I have set up `SlidingUpPanel` in recommended way, but it is overlapping `ListView` in body. How do I make it not overlap?

Thanks in advance and sorry for my noobish question.

[2021-05-09 18:33] RickVM commented on #249
Seems the body doesn't take into account the size of the collapsed player. Since these are shown together in a stack, the body will be hidden if height is bigger than screensize - collapsedPlayer.

You can fix this by setting the height of the slidingPanel with the minHeight property (which controls the collapsed player), and by wrapping the listView in a SizedBox with screensize - collapsedPlayer

[2021-05-10 10:28] asa767 commented on #186
Is there any solution. I have same issue.

[2021-05-11 11:10] Sam-Guru-In-Training opened #250 "REQUEST: Panel pulls up beyond Viewport by border Radius"
**Describe the bug**
If I set the border radius to say 8:
SlidingUpPanel(
        borderRadius: new BorderRadius.vertical(top: Radius.circular(8)),

then I set the Panel's maxHeight:
maxHeight: MediaQuery.of(context).size.height - AppBar().preferredSize.height + 8

The curved top corners of the sliding panel stubbornly remain viewable no matter what numbers I add to the maxHeight.  In fact if I pu

[2021-05-11 17:34] GrbavaCigla commented on #249
Thank you, sorry for my late response. I cant limit body because panel is rounded and clipping is then visible. I tried making element in body same height as panel, but for some reason (even though heights are the same) height of element in body gets overlapped.

[2021-05-13 05:59] annabronsky commented on #247
Try to  set SlidingUpPanel header to
header: GestureDetector(
        onVerticalDragUpdate: (det) {
          if (det.primaryDelta! > 0.0) {
            print(det.primaryDelta);
            wifiResults_pc.close();
              }
          },
        child: Container(
          decoration: BoxDecoration(
            color: Colors.white,
            borderRadius: radius,
          ),
          padd

[2021-05-18 14:44] ariefsn commented on #208
@akshathjain please add this feature

[2021-05-19 16:00] Mayb3Nots commented on #96
I have created a PR to fix this #251

[2021-05-23 01:28] saksham-gt commented on #246
Hey! wrap the column in `SingleChildScrollView()`. I think that'll work.

[2021-05-23 02:02] saksham-gt commented on #250
Hello,

You can use `SlideUpPanel` in stateful widget and declare a variable for radius, say `topRadius` with initial value of `Radius.circular(8)`.
Then you can do `setState((){})` as the panel opens,
For ex:

[code]

[2021-05-23 02:22] saksham-gt opened #252 "When I scroll down the list in open panel (since, there is a list in the open panel state), instead of just scrolling the list down, the panel also closes."
**Describe the bug**
I used `SlideUpPanel()` to make a transition from collapsed to `isPanelOpen` mode, but since `isPanelOpen` mode contains an
`CustomScrollView` and hence `AppBar` and `body`, the `body` contains a list, so there is no issue when I open the panel and scroll down (i.e towards the bottom of list), but as I scroll up (towards `AppBar`/ top of the list), the panel collapses along wi

[2021-05-24 19:18] Sam-Guru-In-Training commented on #250
🤯 thankyou you Sudo!  Of course, thanks for opening my mind with such a complete explanation.

[2021-05-24 19:21] Sam-Guru-In-Training opened #253 "Optional horizontal pullbar property"
In the googlemaps app you can see they have basically a 64px horizontal rule, suggesting you can pull the slider up via its indent.

This can of course be done by hand, but it's part of Google's canonical slider paradigm so it would be cool to have it as an optional property of the slider, that you could twiddle to vanish onSliderOpen.

[2021-05-25 09:42] saksham-gt commented on #250
I think you can close this issue if you don't have any further questions.

[2021-05-25 21:45] #250 closed, assigned to nobody

[2021-05-26 19:55] emmanuellmota commented on #98
+1

[2021-05-30 08:14] yasinarik opened #254 "Let us making the start point of sliding up as low as the bottom end of the device's screen (like a bottomModalSheet that covers BottomNavigationBar)"
Is there an implementation in this package that enable starting sliding the panel from the bottom end of the screen when there is also a persistent bottom navigation bar (or CupertinoTabBar for ex) ?

Even when used as a wrap or a child in a stack, the starting point of the panel can only be lowered as low as the current scaffold. It doesn't start from the bottom end of the device's screen (and do

[2021-06-01 10:12] jaween commented on #152
Looks like this is still happening. A slightly more subtle variation of @json469's useful workaround is to use a `Material` with `type` set to `MaterialType.transparency` so that only the ink splashes and highlights occur.
[code]

[2021-06-09 04:30] erayerdin commented on #203
This issue is still relevant in case of hot reload. Hot restart seems to resolve this, yet it's annoying to hot restart each time you change some kind of code in your codebase.

[2021-06-12 08:40] connelevalsam opened #255 "Buttons on collapse doesn't work"
Hi, I have a sliding up panel that uses two widgets, when I slide for the collapse to show, the buttons there don't work:

[code]

the buttons in requestBody doesn't work

[2021-06-14 11:58] xang555 commented on #255
Same problem.  I have TextField in the panel when I focus on it and leave focus then I  slide down to collapsed for click button in collapsed but doesn't work

[2021-06-14 13:26] xang555 commented on #255
I was able to fix this by calling `setState(() {})` in `onPanelClosed`. I think this is not a good solution but work! hahaha

[2021-06-16 21:05] cudajo opened #256 "animatePanelToSnapPoint() in closed state triggers onPanelClosed"
I have a `SlidingUpPanel` that is in closed state when I manually call the panel controller's `animatePanelToSnapPoint()`.

Listening on the different panel states as the sliding starts - `onPanelSlide(0.0)` is triggered first, but then immediately followed by `onPanelClosed()` being triggered as well. After this, additional `onPanelSlide(x.x)` calls are made until the panel has reached its snap p

[2021-06-18 20:27] JakeHadley opened #257 "Error with assigning ScrollController to class member variable"
I'm trying to initialize a class variable of the ScrollController object given in the function of the `panelBuilder`. My code is like this:

[code]
But I get an error saying
[code]
Is there a good way to do this so that I don't have to pass the scroll controller object through 3-4 functions just to get it to where it needs to be used?

[2021-06-18 20:34] JakeHadley commented on #257
I fixed this by changing the variable from
[code]
to
[code]

[2021-06-18 20:34] #257 closed, assigned to nobody

[2021-06-19 06:38] ablbol commented on #232
I ran into same problem today. I have two buttons 50% out of the panel and they are clipped as shown in the pictures.

[2021-06-21 14:34] cream-cheeze opened #258 "Widget inside the Panel is not centred when there is an AppBar in widget tree"
When AppBar with extendBodyBehindAppBar=false is added to the example app, then the map moves lower and is not centred correctly (see attached screenshots) - it can be seen by the marker in the center of the map.

Is this a bug or am I missing something? I don't want the map to be behind the AppBar and I want it to be in the center of body at the same time.

![IMG_0060](https://user-images.githubu

[2021-06-26 05:33] cameronbatty commented on #256
I too am having this issue

[2021-06-27 03:38] JakeHadley commented on #228
I'm experiencing this as well without an AppBar. No matter what, the collapsed widget, even when hidden will block touches. I can verify this with the widget inspector showing the boundaries of the `collapsed` widget. This makes the collapsed widget impossible to use if I have stuff sitting behind the hidden collapsed. Major problem. @akshathjain @uintdev @s0nerik

[2021-06-28 12:39] connelevalsam commented on #255
I just didn't use it haha

[2021-06-28 15:33] polarby commented on #203
A quick solve is also to move "final PanelController _pc = PanelController();" outside of the class.

[2021-07-01 12:35] cream-cheeze commented on #258
Found the place in code which causes this bug.

![Screenshot 2021-07-01 at 15 33 56](https://user-images.githubusercontent.com/1291107/124125083-e3a7e680-da81-11eb-8482-cb3017a412f4.png)

[2021-07-01 12:58] #258 closed, assigned to nobody

[2021-07-01 12:58] cream-cheeze commented on #258
Duplicate of: https://github.com/akshathjain/sliding_up_panel/pull/44

[2021-07-03 13:14] jaween opened #259 "Panel doesn't appear on package version 2.0.0 or 2.0.0+1"
**Describe the bug**
The Sliding Up Panel doesn't appear when using `sliding_up_panel` version 2.0.0 or 2.0.0+1, but it does appear for version 1.0.2.

**To Reproduce**
Run the provided sample. The Sliding Up Panel only appears on the older package version.

**Expected behavior**
The Sliding Up Panel should appear when run on all package versions.

**Screenshots**
App using package 1.0.2, panel ap

[2021-07-03 14:46] realrkace commented on #126
Needed this asap. Thanks for the PR. Works well, hope it is merged in main!

[2021-07-05 05:13] wangmir opened #260 "Can't we make sliding_up_panel as separate stateless (or stateful) widget?"
**Describe the bug**
When separate sliding up panel like this,

[code]

The panel doesn't show anything.

But same code shows contents when directly call SlidingUpPanel inside stack.

When panelBuilder is switched to panel: and when the contents are just text, the result was same.

**Smartphone (please complete the following information):**
 - Device: Galaxy S21
 - OS: Android 11
 - Flutter Versio

[2021-07-07 13:36] hannahlutd commented on #245
I'm experiencing this same issue.

[2021-07-07 14:33] hannahlutd commented on #245
I fixed this by wrapping my collapsed widget in a Visibility widget, and updating its visibility with:
`onPanelOpened: () => {
  setState(() {
    _collapsedVisible = false;
  })
},
onPanelClosed: () => {
  setState(() {
    _collapsedVisible = true;
  })
},`

[2021-07-13 09:47] KoBoVa commented on #232
for those, who still looking for a solution:
simply go to the core file of the package and modify it in this part:
`//the actual sliding part
        !_isPanelVisible
            ? Container()
            : _gestureHandler(
                child: AnimatedBuilder(
                  animation: _ac,
                  builder: (context, child) {
                    return Container(

[2021-07-13 09:50] KoBoVa commented on #232
simply modify the core file of the package in the part:
`//the actual sliding part
        !_isPanelVisible
            ? Container()
            : _gestureHandler(`
`                  child: Stack(
                    clipBehavior: Clip.none,
                    children: <Widget>[
                      //open panel
                      Positioned(
                          top: widget.slideDire

[2021-07-14 16:26] hannahlutd commented on #238
set `color: Colors.transparent,` on the `SlidingUpPanel()`

[2021-07-15 10:18] LarYoungruu commented on #94
Hi @akshathjain
Has this been fixed or not?
I tried and found the problem is still there (2.0.0+1)

![Screen Shot 2021-07-15 at 5 19 21 PM](https://user-images.githubusercontent.com/45846101/125772352-06674c95-a574-467f-8f69-d8c40a936390.png)

[2021-07-15 13:53] mqhamdam commented on #94
come here with the same problem. Cannot use panelbuilder with gridview. It rebuilds children on scroll max/min height

[2021-07-21 22:52] anasmano commented on #247
@akshathjain, Any workaround for this case ?

[2021-07-22 00:17] anasmano commented on #145
@akshathjain, Any workaround for this ?

[2021-07-22 14:59] dmitdu commented on #98
+1

[2021-07-22 16:58] LarYoungruu commented on #203
@akshathjain
I have the same problem.
I tried to use a button outside the panel to handle closing the panel and got this error. Has anyone got a solution for this problem?

[2021-07-23 03:16] LarYoungruu opened #262 "Bug : PanelController must be attached to a SlidingUpPanel"
**Describe the bug**
As per recommendations from DOC:
![Screen Shot 2021-07-23 at 10 07 07 AM](https://user-images.githubusercontent.com/45846101/126733210-463da7ba-814a-419e-ad5a-5df1c1afb098.png)

**To Reproduce**
Put a button inside Header (_headerPanel()) of SlidingUpPanel and check isPanelOpen to show/hide when Panel opens/closes

**Expected behavior**
Allow using the PanelController inside t

[2021-07-30 14:05] polarby commented on #220
Try using ClipRRect.

[code]

[2021-08-01 00:13] marcusvpais commented on #98
Still having this issue using the latest version. Any updates? Thanks @akshathjain!

[2021-08-01 20:17] dmitdu commented on #98
https://github.com/akshathjain/sliding_up_panel/pull/135 this pr fixes the issue.

[2021-08-02 20:40] marcusvpais commented on #98
You think it will it be implemented on next release?

[2021-08-02 21:41] c0c4i commented on #85
Hello, is it implemented?

[2021-08-03 19:14] AlexandrKedrov commented on #256
Starting from `line 222` got me this fixed. I'm not sure about any drawbacks of this solution but I'm a bit skeptic that the things , done in this package,  are done on purpose, and I'm missing something
[code]

[2021-08-06 13:47] MuhamadHaydar commented on #245
I have the same issue from my application the **collapsed widget is clickable, even if am on panel widget.**

This is my collapsed widget:
![collapsed widget](https://user-images.githubusercontent.com/49116664/128519706-2571a22c-9fb3-4769-a53c-07a6f9d079b8.png)

This is my panel widget:
![panel widget](https://user-images.githubusercontent.com/49116664/128519938-0ef20eea-da0d-41d4-97f9-1c1529b98b0

[2021-08-06 16:50] Harsh4598 opened #263 "snapPoint"
**Describe the bug**
At the snapPoint panel is not stable, it didn't set to fix that why im not able to swipe the listview horizontally.

**Expected behavior**
As i not able swipe my list horizontally it should be scrollable.

**Smartphone (please complete the following information):**
 - Device: [e.g. Mi]
 - OS: [e.g. android 10]
 - Flutter Version [e.g. 2 up]
 - sliding_up_panel: ^2.0.0+1

[2021-08-07 04:27] njlawton opened #264 "[Feature Request] Support multiple snap points"
Many apps may want more than one snap point.

For example, completely down if there is no info, slightly up as default state to see more info, half way up to see a little more and fully up to take up the whole screen.

It would be nice if this use case could be supported.

Thanks!

[2021-08-08 16:25] shahmirzali49 commented on #252
@sudo-saksham did you find any solution?

[2021-08-11 09:16] sooxt98 commented on #126
@Mayb3Nots ayyyyyy, hi mate, waiting to get merged

[2021-08-11 14:12] saksham-gt commented on #252
nope.

[2021-08-16 06:12] saksham-gt commented on #259
Yes, I'm also facing the same issue.

[2021-08-28 07:07] xang555 commented on #245
same issue

[2021-08-28 07:48] xang555 commented on #245
fixed I use Getx state management

1. Wrap `collapsed` with` IgnorePointer` widget
2. wrap `panel` with `Visibility` widget
3. in controller
[code]
4. on `onPanelSlide`
[code]

work well for me

[2021-08-30 03:46] Harsh4598 commented on #252
do you find any solution ?

[2021-08-30 03:47] Harsh4598 commented on #252
@sudo-saksham

[2021-08-30 04:03] Harsh4598 opened #267 "slide up issue"
**Describe the bug**
it doesn't slide  up with minimum height 0 is there any solution?

[2021-08-30 04:34] saksham-gt commented on #252
no. @Harsh4598

[2021-09-03 13:55] mcemir opened #268 "Fling magic constant"
Is there a possibility that you expose this magic constant as a public configurable parameter:

`double minFlingVelocity = 365.0;`

I have problems on high density displays. Slight movements on the screen trigger a close/open of the panel.

[2021-09-06 19:34] desimmons opened #269 "`isPanelClosed` and `isPanelOpen` always returning false"
**Describe the bug**
`isPanelClosed` and `isPanelOpen` always returning false because `panelPosition` is returning none integer values close to (but not exactly equal to) 0 or 1:
`panelPosition: 9.313225537987968e-12`
`panelPosition: 0.9999999999906868`

[2021-09-07 08:41] nguyendangkhoi commented on #249
same issues

[2021-09-15 07:52] hasanm08 commented on #260
use this
[code]

[2021-09-15 12:14] wilson-christian commented on #205
I am getting same error, does this have any fix yet?

[2021-09-16 13:08] happy-cat-coder commented on #202
I am also looking for a solution for this problem..

[2021-09-24 06:34] fikretkurtiiev commented on #252
Hey, try to pass `ScrollController` from panel  into your SingleChildScrollView.

From example
`panelBuilder: (scrollController) => _panel(scrollController),`

`_panel(ScrollController sc) => SingleChildScrollView(
      controller: sc, ....`

[2021-09-25 07:44] fikretkurtiiev opened #271 "PageView inside panelBuilder impossible to use."
I'm using SingleChildScrollView inside PageView  which is inside `_panel()`.

[code]

So when I'm passing `sc` into my `SingleChildScrollView` it causes an error, which says, that ScrollController is used multiple times, this is clear.

But if remove `controller: sc` from my `SingleChildScrollView`, the `SingleChildScrollView` start work incorrectly, scroll happens simulteniusly on `SingleChildScr

[2021-09-25 09:02] fikretkurtiiev commented on #271
https://pub.dev/packages/expandable_page_view instead PageView helped solve infinity heught.

[2021-09-25 09:02] #271 closed, assigned to nobody

[2021-10-03 17:16] Fethi-Hamdani commented on #127
I'm having the same issue, the last item of the list is clipped, when i removed it everything went back to normal

[2021-10-04 06:57] moosoul commented on #157
This is work, when comment the Positioned widgets.
Thanks.

My code like
[code]

[2021-10-04 18:39] nick-beznos opened #272 "Top of the panel is not receiving touches"
I added a button on top of the Scaffold inside of panel and it seems that there's a region of about 50 points on top that does not receive touches.

https://user-images.githubusercontent.com/20222325/135906015-e4b98524-0b58-4bbd-90c6-dc2b1cf1693a.mov

Here's code of the widget I showed:

`AnnotatedRegion<SystemUiOverlayStyle>(
        value: SystemUiOverlayStyle.light,
        child: SlidingUpPane

[2021-10-06 14:16] maxbeech opened #273 "Adding item to panel dynamically doesn't update panel's height"
**Describe the bug**
When I add a widget to a panel dynamically after the initial load, the panel's height does not increase, meaning that the bottom of the panel gets cut off and I get the `A RenderFlex overflowed by 27 pixels on the bottom.` error.

What can I do to ensure the panel updates its height in this case please?

**To Reproduce**
Add a widget to the panel dynamically via the `condition

[2021-10-06 16:58] Fethi-Hamdani commented on #249
same issue here

[2021-10-11 03:06] WingCH commented on #224
same issue

[2021-10-13 14:52] nick-beznos commented on #272
This happens only when panel is a Scaffold

[2021-10-14 14:15] nick-beznos commented on #272
I tried replacing sliding_up_panel with Stack and turns out Scaffold also has this unresponsive area on top. This might be a Flutter bug.

[2021-10-14 14:15] #272 closed, assigned to nobody

[2021-10-16 21:24] aydinfatih opened #274 "If slidingBottomSheet is Full Screen I want it to have scroll with body in its header. How can I do that?"
If slidingBottomSheet is Full Screen I want it to have scroll with body in its header. How can I do that? Currently the header stays fixed when full screen. Only the body area can be scrolled.

[2021-10-16 21:29] #274 closed, assigned to nobody

[2021-10-17 14:55] artoniaz commented on #98
I believe the issue still exist.

[2021-10-20 05:35] 0x2f0713 opened #276 "How to hide Panel contain Scrollable without scroll to top"
Hi, I want to hide Panel contain Scrollable without scroll to top. Example: TikTok can hide panel when drag ``18.2K comments`` without scroll to top. Can sliding_up_panel does this? Thanks all!
![image](https://user-images.githubusercontent.com/34441920/138033722-25c32be6-4e72-4760-8ac5-29f4cca696e6.png)

[2021-10-27 16:51] alexaung opened #277 "If panel hide event is triggered, the collapsed bottom widget's state does not trigger"
**Describe the bug**
I have added sliding up panel in home page and user can setting show and hid the panel in setting screen. I use bloc state and check the state in collapsed bottom panel widget. If panel hide event is triggered, the collapsed bottom widget's state does not trigger any more. If I don't hide it, state is triggered when user change the setting.

[2021-10-27 16:59] alexaung commented on #254
I also facing same issue. User want to hide or show in setting. So First time want to hide it. Only show when they change the setting. So I put the bloc state and check the state change in collapsed bottom widget. State does not triggered. If I don't hide, it is triggered. Is there any other way to show the panel when user change the setting from setting screen.

[2021-11-09 12:45] YohanWadia commented on #252
@kurtiev thanks... it does work!
I had a listView inside that panel and in its controller property i passed the Panels controller. Now when I scroll down it only shuts after the list hits the end and cant scroll any further.
but it would be nice to know whats the logic behind that.

After you pass the Panel's scrollcontroller to the ListView what really happens... does the panels scrollcontroller

[2021-11-10 15:26] franco-stuart commented on #244
I am having the same error.
It is very difficult to reproduce, just sliding up and down very quickly and erratically until it crashes.

From Crashlitycs I get the same stacktrace.

But when reproduced, the assertion throws the error before reaching the null check operator.

[code]

----

If the Panel gets disposed while the animation is played it crashes.  `_onGestureSlide` tries to update it afte

[2021-11-10 22:18] aytunch commented on #254
Is there a solution for this case with bottom navigation bar when sliding panel is opened programmatically?

[2021-11-11 14:54] franco-stuart commented on #244
I created this PR: https://github.com/akshathjain/sliding_up_panel/pull/278

[2021-11-13 07:34] hasanm08 opened #279 "add responsivity"
**Describe the feature**
can you please add responsivity for the web by converting the sliding-up-panel to a menu on the web

[2021-11-20 07:55] benha0898 opened #280 "Return Value From Panel After Closing"
## Bug / Suggestion / Question
**Is there a way to return something from the panel after closing it?** Something similar to `Navigator.of(context).pop(value)`.

## My Use Case
I'm using the panel with the structure outlined below. So in **MyPage** I want to open up the panel to perform some action, which I might need to return a value after the action is completed and/or if the panel is closed.
I

[2021-11-20 11:02] IbrahimYildirim commented on #109
It's possible to set the `renderPanelSheet = false`. Then you can crate your own panel as a `Stack` and add a top margin for the sheet where you fill that space with a **FloatingActionButton**

[2021-12-01 21:49] aardrop opened #281 "Question: Can you lock the panel open"
So I have a use case where while a form in a sliding up panel is being filled out it should not be closed so I want to lock it open and prevent the sliding feature until the form is completed.

Is this possible?

[2021-12-03 14:18] jamesdixon commented on #262
@leanhro2812 were you ever able to resolve this?

[2021-12-14 16:59] Sam-Guru-In-Training opened #282 "SlidingUpPanelController.close() needs to jump the panel ScrollController to 0, or make it an option"
**Describe the bug**
My panel has a ListView, with a ScrollController attached.  If I use the ScrollController passed through from panelBuilder like:
`panelBuilder: (slideUpPanelScrollController) =>`

Then scrolling will function correctly, I can scroll the ListView to the top, then the panel will begin scrolling down revealing the background.

However I need to switch the panel content when the u

[2021-12-19 08:49] pavanjoshi914 opened #283 "Body inside slidingup panel remains 360 in width for all screen size"
the sliding panel expands correctly according to the different screen sizes
![image](https://user-images.githubusercontent.com/55848322/146668999-b0d7556b-335c-40c3-9d54-405cc7b53dcd.png)

the body inside sliding up panel remains constant to 360 in width for all screen sizes tried many solutions but none worked. i think its the case in the library itself

![image](https://user-images.githubusercon

[2021-12-19 20:41] stjfk commented on #164
+1

[2021-12-25 17:31] ashwinkey04 opened #284 "`panel` widget gets rendered even when `renderPanelSheet` is false"
**Describe the bug**
I want different widgets to be displayed when the panel is collapsed and expanded. According to the README, `renderPanelSheet` should be set to false to achieve the expected behavior. Yet, it renders both `panel` widget and `collapsed` on top of one another.

**To Reproduce**
Can use a code similar to the one below. [Click here for complete code](https://github.com/raag-music/

[2021-12-27 18:53] aluxen commented on #209
Hi, same issue here, were you able to stop this behavior?

[2021-12-28 09:04] #220 closed

[2022-01-05 10:03] HugoHeneault opened #285 "Two panels with SlideDirection.DOWN and SlideDirection.UP at the same time?"
Hi there,

Thanks for this awesome pub ! Using it in prod apps, so cooool :)

I'd like to have two panels : one on top, one on bottom.
I don't think `sliding_up_panel` is made this way for now so I'm using something like this :

[code]

It works but the top interaction is a bit weird because of the `Column` resizing its children when the top panel opens.
Has anyone find a way to use them in both d

[2022-01-05 21:07] Shahmirzali-Huseynov commented on #98
any update :/ ?

[2022-01-08 16:48] g-jindal2001 commented on #269
Any updates on this issue?

[2022-01-10 16:47] shahmirzali49 commented on #98
@akshathjain when will you fix this issue :/ ?

[2022-01-11 08:52] shahmirzali49 commented on #98
I fixed it with the @s0nerik code's.

code : https://pastebin.pl/view/b3857291

[2022-01-18 05:32] eerbee commented on #216
yes agree, i need that one too

[2022-01-18 13:46] savasadar commented on #141
Is there any updates about this?

[2022-01-20 11:27] subzero911 opened #286 "Add a way to attach widgets to the top border"
That's what I want to achieve
![image](https://user-images.githubusercontent.com/12999702/150329543-1ade056c-56f7-48cc-8b4a-95f20a98404d.png)

I know it's not very beautiful, but it's a design I have to do. These choice buttons should move with panel sticking to its top.
The problem is I cannot just wrap a panel or header into Stack and use Positioned, because a panel crops everything that is out.

[2022-01-20 11:31] ClaudeChey commented on #98
Great!!

[2022-01-20 11:32] ClaudeChey commented on #98
Great!

[2022-01-21 12:28] subzero911 commented on #286
Oh, the fix above doesn't solve the issue
You can draw the widgets outside the Stack but cannot make them clickable. Those buttons will not react to gestures. It's a known issue of the Stack which won't be fixed.
https://stackoverflow.com/questions/62258640/flutter-overflowed-positioned-button-is-not-clickable
https://github.com/flutter/flutter/issues/19445

So the problem is still open.

[2022-01-22 18:53] emresakar opened #288 "WebView Issues"
Hello,

I am trying to use a WebView inside the panelBuilder. Scrolling up is okay, but when I try to scroll down, cannot scroll in WebView, instead, panel is scrolling down and closing. As a temp solution, I set the isDraggable to false. I am opening and closing panel via a button in header. My panelBuilder function:
[code]

and my header:

[code]

Is there any possible way to disable dragging fo

[2022-01-22 19:41] emresakar commented on #288
I found the solution in WebView. If you are having problems like me, try the code below.

[code]

[2022-01-22 19:41] #288 closed, assigned to nobody

[2022-01-24 20:36] elvisgn opened #289 "Body not scrolling to bottom"
**Describe the bug**
See attached gif first.
On Android, the main SlidingUpPanel body is not 100% scrollable to the bottom.
In the attached gif, there is a list of rows numbered 1 to 9 (set repeated twice). The list only scrolls till the 2nd number 7. On some emulators, it scrolls till 8, but not consistently to bottom.

**To Reproduce**
[code]

**Expected behavior**
In the above code, the list sh

[2022-01-25 03:13] eerbee commented on #262
for me its caused when u have more than 3 sliding panel controller on single screen (i use 3 different panel)

[2022-01-29 20:19] ultimate-tester commented on #157
~~This doesn't seem to work for me..  I have wrapped the panel widget in a Scaffold, no visible difference to me.
My panel has a Column widget and has as children an Expanded -> ListView in it and a Padding -> Row with an TextFormField.~~

EDIT: Scratch that, while adding some information that might help to trace where this is coming from I realized that my top level Scaffold also having resizeToA

[2022-02-03 16:15] subzero911 opened #290 "PanelController does not have a dispose() method"
There's no way to dispose PanelController() instance.
It will lead to memory leaks.
Please add it.

[2022-02-03 16:39] subzero911 commented on #290
Oh, that's my mistake.
TextEditingController is extended from ValueNotifier, that should be disposed.
But PaneController isn't. It also doesn't have any streams / unmanaged resources inside.
So i'll close it.

[2022-02-03 16:39] #290 closed, assigned to nobody

[2022-02-08 07:37] ghost opened #291 "How to Scroll UP or DOWN only, not both?"
How can i scroll to open panel but disable scroll to close?

[2022-02-10 04:57] appdeveploment commented on #252
The issue for two different list view in slidup panel when i scroll down towards to the bottom the panel will close ....

[2022-02-10 10:16] Harsh4598 commented on #252
Use the scroll contro. It will help you .

On Wed, Feb 9, 2022 at 11:57 PM cc-appdev ***@***.***> wrote:

--
Sent from Gmail Mobile

[2022-02-15 10:09] pan1nx commented on #221
This feature request actually makes sense if one uses Screen Orientation while keeping the panel in the same screen position. Currently, the DOWN and UP options work as expected when rotating the screen: they move the location on the screen. But if one wants to keep the slider in the same location, then it needs that the DOWN in portrait becomes RIGHT in landscape (or from UP becomes LEFT). Curren

[2022-02-15 22:10] markmusic27 opened #293 "Adding custom Scroll Physics"
How can I add custom scroll physics to my sliding panel to make the scroll feel consistent with other scrollable components in my UI?

[2022-02-19 19:59] Sam-Guru-In-Training opened #294 "Scrolling the sliding up panel's Scroll Position to the top from an onPress in the App drawer"
I've spent probably over a week's worth of time trying to solve this problem and instead creating new glitches.

Essentially when I select a new item from my app drawer it populates the Sliding up panel with new data, but the panel remains at the Scroll Position of the old data, I can't refresh the ScrollPosition. This is bad UX.

I'm using the canonical way to pass a ScrollController through to m

[2022-02-23 10:55] joo6077 opened #295 "Panel is closed when I use ScrollablePositionedList in the panel"
I know there is a way to pass scrollController from panelBuilder parameter to listview controller option, but I'm using ScrollablePositionedList which just has itemScrollController option not ScrollController option. Is there way to solve this problem?
I appreciate for this cool plugins! Thanks!

[2022-02-26 22:19] aytunch opened #296 "How to use a `CustomScrollView` inside of the `panelBuilder`"
I am using a package which manages its own ScrollController so I can not pass the scroll controller coming from `panelBuilder` into it.
The package is [vertical_scrollable_tabview](https://github.com/wayne900204/vertical_scrollable_tabview)

Is there a way to use `SlidingUpPanel` and still be able to dismiss the sheet if the CustomScrollViews position is at the top?
When the content is smaller tha

[2022-03-02 01:07] Sam-Guru-In-Training opened #297 "header locks ListView's Scroll if it's given a fullWidth widget."
**Describe the bug**
If I put any full width wiget in the header then it doesn't show and locks scrolling of the panel's ListView.

**To Reproduce**
[code]

[2022-03-02 04:29] AErmek commented on #282
@Sam-Guru-In-Training hi, did you solve this issue?

[2022-03-02 09:05] Sam-Guru-In-Training commented on #282
I found a way to make it work, with some kind kind guidance. But still, it would be cool to have it as a bool to keep the code cleaner and more easily readable. A 'resetScrollPositionOnPanelClosed' boolean property.

[2022-03-02 09:49] AErmek commented on #282
@Sam-Guru-In-Training after some researches i found Pull request where exactly this issue was fixed, here: https://github.com/willbryant/sliding_up_panel/tree/master
and just changed in pubspec.yaml to this repo

[2022-03-03 17:52] amed901107 opened #298 "Panel body event does not work when it is collapsed, the component is in the collapse region"
**Describe the bug**
Panel body event does not work when it is collapsed, the component is in the collapse region. Close button event not working

**Expected behavior**
the event of the close button is fired

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

**Smartphone (please complete the following

[2022-03-07 06:32] KilianShen opened #299 "Add sliding panel indicator."
**Describe the bug**
Add sliding panel indicator.

**To Reproduce**
Steps to reproduce the behavior:
NONE

**Expected behavior**
Add sliding panel indicator.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS:

[2022-03-13 11:19] Ali-Kheiri commented on #203
if you have a StateFulWidget ,  the best way is in this Example :

- [x] ` _panelController.isAttached ? DoSthWhileTrue : DoSthWhileFasle `
- [x]  - You cannot use the `panelController.panelPosition` without check isAttached result!

 - [there are examples in this link ](https://pub.dev/packages/sliding_up_panel)

[2022-03-13 13:59] joo6077 opened #300 "Sliding up panel with scrollable positioned list"
I love to use this library for sure! But I face some problems.

I know there is a way to solve it in listview to pass scrollcontroller from panel scrollcontroller

but ScrollablePositionedList only supports itemScrollController.

I would like to know how to prevent scrollup in ScrollablePositionedList!

Thanks!

[2022-04-08 04:38] theboshy commented on #150
same, why are there no updates about this?

[2022-04-10 16:33] williazz commented on #126
Following up on this thread! I too would love a `PanelState.HIDDEN` feature. As of now there's only open and closed

[2022-04-12 22:23] Gricardov commented on #254
It's my pleasure to tell you how I solved this issue:
` if (panelController.isAttached) {
                panelController.open();
                screenStatus.changeFullScreen(true); // This a provider file that communicates with main.dart and hides the bottomNavigationBar when I set fullscreen
              }`

[2022-04-22 14:37] lasd14 commented on #214
@alestiago I try with `minHeight: 0` but the result was that my widget dissapear, can you tell me exactly your result with that solution

[2022-04-22 15:24] alanlanglois commented on #296
@aytunch Did you find a way?

[2022-04-22 16:27] lasd14 commented on #214
Hi, if someone have the need to hide the panel widget when the panel is closed, because at par you have a collapsed widget and you want to prevent these from overlapping, maybe this code will help you:

First in your Panel Widget you will need to wrap all the widget with a Visibility() and ask for a bool parameter.
Second you will declare a bool variable and initialize in true or false.
After this

[2022-04-27 12:15] nholmvio opened #301 "Keyboard covers textfield in body"
Hi...

I'm attempting to refactor my app to leverage this package, and my code prior that incorporated a SingleChildScrollView that would appropriately scroll up when the keyboard was visible, no longer scrolls when it's in the body of the SlidingUpPanel.

I've done a bunch of searching and seen a few others highlight this challenge, but no answer.
(for example: https://stackoverflow.com/questions

[2022-05-01 03:16] stephenjen commented on #274
How were you able to do scrolling when panel is at full height?

[2022-05-03 13:14] kolioOtSofia commented on #289
Same issue here!

[2022-05-09 17:09] qixotic commented on #289
I believe the problem is that the panel code wraps SlidingUpPanel.body in a Container with
[code]
making it fill the size of the screen. This would be ok if you didn't use an AppBar, or set `extendBodyBehindAppBar: true` on your Scaffold so that your body can go under the AppBar, but otherwise would have this issue.

I have a proposed fix in #303, but if you don't want to depend on a fork of this